@tailwind base;
@tailwind components;
@tailwind utilities;

#barChart{
    width: 80% !important;
}

#resultChart {
    width: 250px !important;
    height: 250px !important;
}

.thead {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    border-bottom: 1px solid #656565;
}

.thead-item {
    text-align: center;
    /* border-right: 1px solid #656565; */
}

@media only screen and (min-width: 500px) {
    .thead-item {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 7px;
    }
}

.thead-item:last-child {
    border-right: none;
}

.thead-item > p {
    padding: 10px 0;
}


.anio {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    border-bottom: 1px solid #656565;
}

.anio:last-child {
    border-bottom: none;
}

.anio-item {
    text-align: center;
    /* border-right: 1px solid #656565; */
}

@media only screen and (min-width: 500px) {
    .anio-item {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 7px;
    }
}

.anio-item:last-child {
    border-right: none;
}

.anio-item > p {
    padding: 10px 0;
}

.anio-item-interes {
    color: rgb(64 182 107);
}