@tailwind base;
@tailwind components;
@tailwind utilities;

.anio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-bottom: 1px solid #2B2B2B;
}