:root {
    --ff-title:'Orbitron', sans-serif;
    --ff-paragraph: 'Kanit', sans-serif;
    --fs-title: 55px;
    --fs-title2: 35px;
    --fs-title3: 20px;
    --fs-title4: 16px;
    --fs-paragraph: 16px;
    --fs-links: 14px;
    --fs-title-d: 70px;
    --fs-title2-d: 45px;
    --fs-title3-d: 30px;
    --fs-title4-d: 30px;
    --fs-paragraph-d: 18px;
    --fs-title-p: 80px;
    --fs-title2-p: 60px;
    --fs-title3-p: 30px;
    --fs-title4-p: 25px;
    --fs-paragraph-p: 19px;
    
    --color-primary: #fdd159;
    --color-primary-paragraph: #fffcf2;
    --color-primary-button: #423719;
    --color-bgsections: #10191f;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #090F12;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--fs-title);
    font-family: var(--ff-title);
    padding-bottom: 25px;
    color: #FDD159;
    margin: 0;
}

h2 {
    font-weight: 600;
    font-family: var(--ff-title);
    font-size: var(--fs-title2);
    padding-bottom: 50px;
    margin: 0;
    color: #FDD159;
}

h3 {
    font-weight: 400;
    font-family: var(--ff-title);
    font-size: var(--fs-title3);
    color: #FDD159;
    margin: 0;
}

h4 {
    font-weight: 300;
    font-family: var(--ff-title);
    font-size: var(--fs-title4);
    color: #FDD159;
    margin: 0;
    text-align: center;
    border: 1px solid;
    border-radius: 12px;
    padding: 5px;
    text-transform: capitalize;
}

p {
    font-weight: 300;
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
    line-height: 1.7;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    font-weight: 300;
    text-decoration: none;
    font-size: var(--fs-links);
    font-family: var(--ff-paragraph);
    margin: 0;
}

li {
    list-style-type: none;
}

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 22px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.addColor {
    background-color: #090F12;
    z-index: 1;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav__logo {
    display: block;
    width: 40px;
    height: 40px;
}

.nav__title {
    text-decoration: none;
    color: var(--color-primary-paragraph);
    margin: 0;
    font-family: var(--ff-title);
}

.nav__title__city {
    font-size: 10px;
    font-family: var(--ff-paragraph);
}

.navList__movile {
    font-family: var(--ff-title);
    font-weight: bold;
    position: absolute;
    align-items: left;
    line-height: 5rem;
    top: 0;
    transform: translateY(-1000px);
    overflow: hidden;
    left: 0;
    width: 100%;
    background-color: #090F12;
    transition: transform 1s ease;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 22px;
}

.navList__movile.active {
    top: 54px;
    transform: translateY(0);
}

.naList__menu__sections {
    border-bottom: 1px solid var(--color-primary);
}

.navList__menu {
    padding: 0;
}

.navList__menu__li {
    list-style: none;
}

.navList__menu__link {
    font-size: 35px;
    color: var(--color-primary);
}

.navList__menu__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navList__menu__footer__darkmode {
    background-color:  var(--color-primary);
    border-radius: 12px;
    padding: 10px;
    width: 150px;
}

.navList__menu__footer__darkmode__paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 0;
    padding: 0;
    margin: 0;
    font-size: var(--fs-links);
    color:  var(--color-primary-button);
}

.navList__menu__footer__darkmode__img {
    width: 15px;
    height: auto;
}

.main.active {
    display: none;
}

.othercolor {
    /* background: linear-gradient(rgb(0, 217, 255),rgb(212, 0, 255));
    -webkit-background-clip: text;
    color: transparent; */
}

.navList {
    display: none;
}

.darkMode__img {
    display: none;
}

.navBurguermenu__img__hamburguer, .navBurguermenu__img__close {
    width: 30px;
    height: 30px;
}

.navBurguermenu__img__hamburguer.active {
    display: none;
}

.navBurguermenu__img__close{
    display: none;
}

.navBurguermenu__img__close.active {
    display: block;
}

.socialmedias {
    display: none;
}

.heroContent__General {
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    /* background-image: url(./src/img/foto_miguel.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background: -webkit-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    background: -moz-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    /* Created with https://www.css-gradient.com */
}

.heroContent__General__info {
    display: flex;
    align-items: center;
    padding: 0 22px;
}

.heroContent__General__info--one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.herosubtitle {
    font-family: var(--ff-title);
    font-size: 20px;
    position: relative;
    padding: 0;
    padding-top: 25px;
    color:  var(--color-primary);
}

.herosubtitle::after {
    position: absolute;
    content: " ";
    top: 0%;
    left: 0;
    width: 25%;
    height: 1px;
    background-color: var(--color-primary);
}

.hero__paragraph {
    margin: 0px;
    padding: 0px;
}

.herobutton__link {
    margin-bottom: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--ff-paragraph);
    color: var(--color-primary-button);
    background-color: var(--color-primary);
    text-align: center;
    border-radius: 12px;
    padding: 10px 0px;
    max-width: 170px;
}

.hero__socialmedia {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0;
}

.hero__socialmedia--logo {
    width: 30px;
    height: 30px;
}

.hero__source {
    display: none;
}

/*PORTFOLIO*/

.portfolioContainer {
    padding: 75px 22px;
}

.portfolioContainer__items {
    display: grid;
    gap: 50px;
}

.porfolioContainerSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.portfolioContainer__item {
    display: grid;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.portfolioContainer__item__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.portfolioContainer__item__link {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--ff-paragraph);
    color: var(--color-primary-button);
    background-color: var(--color-primary);
    width: max-content;
    text-align: center;
    border-radius: 12px;
    padding: 10px 30px;
}

.portfolioContainer__item__arrow {
    width: 15px;
    height: auto;
    animation: arrow-right 2s forwards infinite;
}

.portfolioContainer__more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-title);
    gap: 20px;
    margin: 0 auto;
    color: var(--color-primary-button);
    font-size: 16px;
    background-color:  var(--color-primary);
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
} 

.portfolioContainer__item--img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}

.portfolioContainer__item__lenguajes {
    display: flex;
    align-items: center;
    gap: 25px;
}

.portfolioContainer__item__img {
    width: 30px;
    height: auto;
}

.portfolioContainer__more__img {
    width: 25px;
    rotate: 45deg;
    animation: close 2s linear infinite ;
}

@keyframes close {
    0%,100% {
        transform: rotate3d(0deg);
    }
    50% {
        transform:rotate3d(0, 1, 0, 3.5rad) ;
    }
}

.portfolioContainer__item--third {
    display: none;
}

.portfolioContainer__item--third.active {
    display: grid;
}

/*HABILIDADES */

.habContainer {
    padding: 75px 22px;
}

.habContainer__general {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
}

.habContainer__filter {
    color: var(--color-primary-paragraph);
    text-align: center;
    margin: 0;
}

.habContainer__buttonsFilter {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    border: 2px solid var(--color-primary);
    border-radius: 12px 12px 0px 0;
    padding: 10px 0;
    border-bottom: none;
    background-color: var(--color-bgsections);
    /* background-color: #0f3446;
    box-shadow:inset 0px 2px 20px 5px #ffffff17;
    border-radius: 12px; */
}

.habContainer__buttonsFilters__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--ff-paragraph);
    color: #ffffff84;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.label__skills {
    cursor: pointer;
}

.habContainer__buttonsFilters__link__img {
    width: 25px;
    height: 25px;
}

.All.active {
    text-decoration: underline;
    color: #fff;
}

.lenguages.active {
    text-decoration: underline;
    color: #fff;
}

.tools.active {
    text-decoration: underline;
    color: #fff;
}

.habContainer__skills {
    /* background-color: #0f3446;
    border-radius:12px;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    border: 2px solid var(--color-primary);
    border-radius: 0px 0 12px 12px;
    padding: 10px 0;
    background-color: var(--color-bgsections);
}

.habContainer__lenguajes, .habContainer__utility, .habContainer__all {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-around;
    border-radius: 12px;
}

.habContainer__all.innactive {
    display: none;
}

.habContainer__lenguajes {
    display: none;
}

.habContainer__lenguajes.active {
    display: grid;
}

.habContainer__utility {
    display: none;
}

.habContainer__utility.active {
    display: grid;
}

.habContainer__item {
    margin: 0 auto;
    padding: 5px;
}

.habContiner__img {
    padding-top: 10px;
    width: 40px;
    height: 40px;
}

.habContiner__img--title {
    display: block;
    font-size: 16px;
    margin: 5px auto;
    font-weight: 200;
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    color: #ffffff;
    line-height: 1.8rem;
}

/*CONTACTO*/

.formContainer {
    padding: 75px 22px;
}

.formContainer__form {
    padding: 25px;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    /* background-color: #0f3446;
    border-radius: 12px;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    background-color: var(--color-bgsections);
}

.formContainer__Container__img {
    display: none;
    background-color: var(--color-bgsections);
}

.formContainer__forminput {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary-paragraph);
    background-color: transparent;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-family: var(--ff-paragraph);
    opacity: 1;
    outline: none;
}

.formContainer__textarea {
    font-size: var(--fs-paragraph);
    resize: none;
}

.formContainer__submit {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 5px;
    /* background-color: #0f3446;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    border-radius: 12px;
    text-align: center;
    width: 200px;
    text-align: center;
    /* cursor: pointer; */
}

.formContainer__submit--link {
    padding-left: 15px;
    font-family: var(--ff-title);
    color:  var(--color-primary);
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

@keyframes arrow-right {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
}

/*FOOTER*/

.footer {
    background-color: var(--color-primary);
    color: var(--color-primary-button);
    padding-top: 75px;
    font-family: var(--ff-paragraph);
    font-size: 12px;
    width: 100%;
    padding: 0px 25px;
}

.footer.active {
    display: none;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.footerContainer__links {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footerContainer__link {
    color: var(--color-primary-button);
    font-size: 12px;
    font-weight: 400;
}

@media only screen and (min-width: 768px){

    h1 {
        font-size: var(--fs-title-d);
    }

    h2 {
        font-size: var(--fs-title2-d);
    }

    h3 {
        font-size: var(--fs-title3-d);
    }

    h4 {
        font-size: var(--fs-title4-d);
    }

    p {
        font-size: var(--fs-paragraph-d);
    }

    a {
        font-size: var(--fs-links-d);
    }

    span {
        font-size: var(--fs-paragraph-d);
    }

    .header {
        padding: 20px 45px;
    }

    .nav__title__city {
        font-size: 10px;
    }

    .navList__movile {
        line-height: 6rem;
        padding: 0 50px;
        transform: translateY(-2000px);
    }

    .navList__movile.active {
        top: 80px;
    }

    .navList__menu__link {
        font-size: var(--fs-title2-d);
    }

    .navList__menu__footer__darkmode {
        width: 250px;
    }

    .navList__menu__footer__darkmode__paragraph {
        font-size: 18px;
    }

    .navList__menu__footer__darkmode__img {
        width: 25px;
    }

    .navBurguermenu__img__hamburguer, .navBurguermenu__img__close {
        padding: 0;
        width: 40px;
        height: auto;
    }

    .socialmedias {
        display: none;
    }

    .heroContent__General__info {
        padding: 0 45px;
    }

    .hero__paragraph  {
        max-width: 90%;
    }

    .herosubtitle::after {
        width: 20%;
    }

    .herobutton__link {
        padding: 15px 10px;
        max-width: 250px;
    }

    .hero__socialmedia {
        gap: 50px;
    }

    .hero__socialmedia--logo {
        width: 35px;
        height: auto;
    }

    /*PORTFOLIO*/

    .portfolioContainer {
        padding: 100px 45px;
    }

    .portfolioContainer__item--first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .portfolioContainer__item--second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }


    .portfolioContainer__item--third.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    /* .portfolioContainer__item--img {
       height: auto;
    }

    .portfolioContainer__item__image {
        grid-area: a;
    } */

    /* .portfolioContainer__item__information {
        grid-area: b;
        gap: 15px;
        justify-content: start;
    }

    .portfolioContainer__item__lenguajes {
        padding-top: 9px;
        display: flex;
        gap: 25px;
    }

    .portfolioContainer__item__img {
        width: 35px;
        height: auto;
    }

    .portfolioContainer__item__link {
        margin: 0;
    }

    .portfolioContainer__more {
        padding: 10px;
    } */

    /*HABILIDADES */

    .habContainer {
        padding: 100px 45px;
    }

    .habContainer, .habContainer__general {
        gap: 25px;
    }

    .habContainer__buttonsFilter {
        gap: 100px;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        grid-template-columns: auto auto auto auto auto;
    }

    .habContainer__item {
        margin: 0 auto;
        padding: 10px;
    }

    .habContiner__img {
        width: 55px;
        height: 55px;
    }

    /*CONTACTO*/

    .formContainer {
        padding: 100px 45px;
    }

    .formContainer__form {
        padding: 0 40px;
        padding-bottom: 40px;
    }

    .formContainer__forminput {
        padding: 30px;
    }

    .formContainer__submit {
        margin-top: 40px;
        padding: 10px;
        width: 250px;
    }

    /*FOOTER*/

    .footer {
        padding: 0px 45px;
    }

    .footerContainer {
        padding: 25px 0;
    }

    .footerContainer__text {
        font-size: 14px;
    }

    .footerContainer__links {
        gap: 35px;
    }

    .footerContainer__link {
        color: var(--color-primary-button);
        font-size: 14px;
    }

}

@media only screen and (min-width: 1024px){

    h1 {
        font-size: var(--fs-title-p);
        padding-bottom: 50px;
    }

    h2 {
        font-size: var(--fs-title2-p);
        margin-bottom: 50px;
        padding: 0;
    }

    h3 {
        font-size: var(--fs-title3-p);
    }

    h4 {
        font-size: var(--fs-title4-p);
    }

    p {
        font-size: var(--fs-paragraph-p);
    }

    a {
        font-size: var(--fs-links-p);
    }

    span {
        font-size: var(--fs-paragraph-p);
    }

    .header {
        padding: 25px 60px;
    }

    .nav__title__simbol {
        font-size: 16px;
    }

    .navList {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-weight: bold;
        padding: 0;
        margin: 0;
        gap: 30px;
        list-style: none;
        text-align: center;
    }

    .navBurguermenu__img__hamburguer {
        display: none;
    }

    .navList__link {
        font-family: var(--ff-paragraph);
        font-size: var(--fs-links);
        text-decoration: none;
        color: var(--color-primary-paragraph);
    }

    .navList__cv {
        color: var(--color-primary-paragraph);
        border: 1px solid var(--color-primary-paragraph);
        text-align: center;
        border-radius: 12px;
        padding:  5px 10px;
    }

    .darkMode__img {
        display: block;
        width: 25px;
        height: auto;
    }

    .navList__movile {
        display: none;
    }

    .main {
        overflow: hidden;
    }

    .heroContent__General {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .socialmedias {
        position: absolute;
        display: flex;
        align-self: flex-end;
        padding-bottom: 45px;
        padding-left: 20px;
    }

    .socialmedia__pc {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .socialmedia--logo {
        width: 20px;
        height: 20px;
    }

    .heroContent__General__info {
        display: grid;
        grid-template-columns: 6fr 4fr;
        padding: 0;
        padding:0 60px;
        /* padding-left: 125px; */
    }

    .heroContent__General__info--one {
        gap: 30px;
        padding-top: 90px;
    }

    .heroTitle {
        padding: 0;
    }

    .herosubtitle::after {
        width: 20%;
    }

    .hero__paragraph {
        /* max-width: 70%; */
    }

    .hero__socialmedia {
        display: none;
    }

    .hero__source {
        display: block;
    }

    /*PORTFOLIO*/

    .portfolioContainer {
        padding: 100px 60px;
    }

    .porfolioContainerSection {
        gap: 100px;
    }

    .portfolioContainer__item--img {
        max-height: 450px;
    }

    .portfolioContainer__more {
        padding: 10px;
    }
/* 
    .portfolioContainer__items {
        gap: 175px;
    }

    .portfolioContainer__item {
        grid-template-columns: auto auto;
    }

    .portfolioContainer__item__lenguajes {
        gap: 30px;
    }

    .portfolioContainer__item__image {
        max-width: 500px;
    }

    .portfolioContainer__item--img {
        height: auto;
        width: auto;
    }

    .portfolioContainer__item__information {
        justify-content: start;
        padding-top: 50px;
    }

    .portfolioContainer__recommend{
        text-align: left;
    } */

    /*HABILIDADES*/

    .habContainer {
        padding: 100px 45px;
    }

    .habContainer__general {
        gap: 50px;
    }

    .habContainer__information {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .habContainer__paragraph {
        max-width: 80%;
    }

    .habContainer__container {
        display: grid;
        grid-template-columns: 2fr 8fr;
        gap: 15px;
    }

    .habContainer__buttonsFilter {
        flex-direction: column;
        gap: 25px;
        border: 2px solid var(--color-primary);
        border-radius: 12px;
        padding-bottom: 170px;
        padding-top: 50px;
        padding-left: 15px;
        align-items: start;
    }

    .habContainer__buttonsFilter__title {
        color: var(--color-primary-paragraph);
        font-family: var(--fs-paragraph);
        text-align: left;
    }

    .habContainer__buttonsFilters__link {
        margin: 0;
        flex-direction: row;
    }

    .habContainer__skills {
        border-radius: 12px;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        grid-template-columns: auto auto auto auto;
    }

    .habContiner__img--title {
        /* border: 1px solid var(--color-primary); */
        /* border-radius: 12px; */
        background-color:  var(--color-primary);
        color: var(--color-bgsections);
        border-radius: 12px;
        font-weight: 500;
    }

    /*FORMULARIO*/

    .formContainer__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        border: none;
        border-radius: 0;
    }

    .formContainer__Container {
        border: 2px solid var(--color-primary);
        border-radius: 12px;
        display: grid;
        grid-template-columns: 4fr 6fr;
        height: 100%;
    }

    .formContainer__Container__img {
        display: block;
        height: 100%;
        object-fit: cover;
        border-right: 2px solid var(--color-primary);
        border-radius: 12px 0 0 12px;
    }

    .formContainer__form__displayflex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .formContainer__forminput {
        margin: 0;
    }

}

@media only screen and (min-width: 1440px){

    .headerContainer {
        margin: 0 auto;
        max-width: 1400px;
    }

    .socialmedia--logo {
        width: 20px;
        height: auto;
    }

    .heroContainer {
        /* background: -webkit-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
        background: -moz-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
        background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    } */
    }

    .heroContent__General__info {
        margin: 0 auto;
        max-width: 1400px;
    }

    .heroContent__General__info--one {
        gap: 50px;
    }

    .hero__paragraph {
        max-width: 80%;
    }

    .portfolioContainer, .habContainer, .formContainer, .footerContainer{
        margin: 0 auto;
        max-width: 1400px;
    }

    .porfolioContainerSection {
        gap: 150px;
    }

    .portfolioContainer__item {
        gap: 100px;
    }

    .portfolioContainer__item--img {
        max-height: 450px;
    }

    .habContainer__buttonsFilters__link::after {
        width: 40vh;
    }

    .footer {
        padding: 25px;
    }



    /* h1 {
        font-family: var(--ff-title);
        font-size: var(--fs-title-p);
        padding-bottom: 50px;
    }

    h2 {
        font-family: var(--ff-title);
        font-size: var(--fs-title2-p);
        padding-bottom: 50px;
    }

    h3 {
        font-family: var(--ff-paragraph);
        font-size: 25px;
    }

    h4 {
        font-family: var(--ff-paragraph);
        font-size: var(--fs-title4-p);
    }

    p {
        font-family: var(--ff-paragraph);
        font-size: var(--fs-paragraph-p);
        font-size: 20px;
        margin: 0;
    }

    a {
        font-family: var(--ff-paragraph);
        font-size: var(--fs-links-p);
        text-decoration: none;
    }

    span {
        font-family: var(--ff-paragraph);
        font-size: var(--fs-paragraph-p);
    }

    .header {
        padding: 35px 45px;
    }


    .nav__title__city {
        font-size: 12px;
    }

    .nav__title__simbol {
        font-size: 14px;
    }

    .navList {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-weight: bold;
        padding: 0;
        margin: 0;
        gap: 30px;
        list-style: none;
        text-align: center;
    }

    .navBurguermenu__img__hamburguer {
        display: none;
    }

    .navList__link {
        font-size: 14px;
        text-decoration: none;
        color: var(--color-primary-paragraph);
    }

    .navList__cv {
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        text-align: center;
        border-radius: 12px;
        padding:  5px 10px;
    }

    .darkMode__img {
        display: block;
        width: 25px;
        height: auto;
    }

    .navList__movile {
        display: none;
    }

    .main {

    }

    

    .heroTitle {
        padding: 0;
    }

    .herosubtitle::after {
        width: 10%;
    }

    .hero__paragraph  {
        max-width: 55%;
    }

    .herobutton__link {
        margin-bottom: 0;
        max-width: 325px;
    }

    .socialmedias {
        display: block;
        position: absolute;
        top: 77%;
        padding-left: 50px;
    }

    .socialmedia__pc {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .socialmedia--logo {
        width: 20px;
        height: auto;
    }

    .hero__socialmedia {
        display: none;
    } */

    /*PORTFOLIO*/

    /* .portfolioContainer {
        padding: 100px 45px;
    }

    .portfolioContainer__items {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

    .portfolioContainer__item--first {
        display: grid;
        grid-template-areas: "a b";
        grid-template-columns: 5fr 5fr;
        align-items: center;
        gap: 45px;
        margin: 0;
        padding: 0;
    }

    .portfolioContainer__item--second {
        display: grid;
        grid-template-areas: "b a";
        grid-template-columns: 5fr 5fr;
        align-items: center;
        gap: 45px;
        text-align: left;
    }

    .portfolioContainer__item__image {
        grid-area: a;
    }

    .portfolioContainer__item__information {
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .portfolioContainer__item--title {
        padding: 0;
    }

    .portfolioContainer__item__lenguajes {
        padding: 0;
        width: 30px;
        height: auto;
    }

    .portfolioContainer__item__link {
        margin: 0;
        margin-top: 20px;
    } */

    /*HABILIDADES*/
/*
    .habContainer {
        padding: 100px 45px;
    }

    .habContainer__buttonsFilter {
        margin-bottom: 30px;
        border: 2px solid white;
        border-radius: 12px;
        padding: 15px;
    }

    .habContainer__buttonsFilters__link {
        margin: 0;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        border: 2px solid white;
        grid-template-columns: auto auto auto auto auto;
    } */

    /*FORMULARIO*/
/*
    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formContainer__form__displayflex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footerContainer {
        margin-left: 20%;
    } */

 }