:root {
    --ff-title:'Orbitron', sans-serif;
    --ff-paragraph: 'Kanit', sans-serif;
    --fs-title: 55px;
    --fs-title2: 35px;
    --fs-title3: 20px;
    --fs-title4: 16px;
    --fs-paragraph: 16px;
    --fs-links: 14px;
    --fs-title-d: 70px;
    --fs-title2-d: 45px;
    --fs-title3-d: 30px;
    --fs-title4-d: 30px;
    --fs-paragraph-d: 18px;
    --fs-title-p: 90px;
    --fs-title2-p: 60px;
    --fs-title3-p: 30px;
    --fs-title4-p: 25px;
    --fs-paragraph-p: 16px;
    --fs-title-pl: 100px;
    --fs-title2-pl: 70px;
    --fs-title3-pl: 50px;
    --fs-title4-pl: 25px;
    --fs-paragraph-pl: 18px;
    --fs-links-pl: 16px;

    --bg-color: #16172a;
    --bg-color: #181834;
    --color-primary: #D73772;
    --color-primary-opacity: #fdd1595e;
    --color-primary-opacity2: #fdd1591a;
    --color-primary-paragraph: #fffcf2ea;
    --color-primary-button: #423719;
    --color-bgsections: #212134;
    --color-bgContainer: #263946;
    --color-gradient-90º: linear-gradient(90deg, hsla(338, 67%, 53%, 1) 0%, hsla(21, 99%, 52%, 1) 100%);
    --color-gradient-0º: linear-gradient(0deg, hsla(338, 67%, 53%, 1) 0%, hsla(21, 99%, 52%, 1) 100%);
    --color-gradient-0º: linear-gradient(90deg, hsla(338, 67%, 53%, 1) 0%, hsla(21, 99%, 52%, 1) 100%);
    --color-gradient-0º: #fffcf2;
    --color-gradient-90º: #fffcf2;

    /* --color-primary: #6966ff;
    --color-primary-opacity: #fdd1595e;
    --color-primary-opacity2: #fdd1591a;
    --color-primary-paragraph: #fffcf2;
    --color-primary-button: #423719;
    --color-bgsections: #212134;
    --color-bgContainer: #263946;
    --color-gradient-90º: linear-gradient(90deg, hsla(241, 100%, 70%, 1) 0%, hsla(241, 46%, 53%, 1) 100%);
    --color-gradient-0º: linear-gradient(90deg, hsla(241, 100%, 70%, 1) 0%, hsla(241, 46%, 53%, 1) 100%); */

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

/* canvas {
	position: absolute;
	opacity: 0.1;
	z-index: 9999;
	pointer-events: none;
	user-select: none;
} */

html {
    scroll-behavior: smooth;
    /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background: radial-gradient(ellipse, at bottom rgba(22,40,62,1) 0%, rgba(9,10,15,1) 100%); */
    background-color: var(--bg-color);
}

body {
    /* background-image: url(./src/img/fondo.png); */
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ::selection {
    background-color: var(--color-primary-opacity);
} */

h1 {
    text-shadow: -4px -4px 20px var(--color-primary-opacity2);
    font-size: var(--fs-title);
    font-family: var(--ff-title);
    padding-bottom: 25px;
    margin: 0;
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 85%;
}

h2 {
    position: relative;
    font-weight: 600;
    font-family: var(--ff-title);
    font-size: var(--fs-title2);
    margin-bottom: 50px;
    padding: 0;
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

/* h2::after {
    position: absolute;
    content: '';
    background-image: var(--color-gradient-90º);
    top: -83%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 1px;
    z-index:-1;
    border-radius: 30px;
} */

h3 {
    font-weight: 400;
    font-family: var(--ff-title);
    font-size: var(--fs-title3);
    color: var(--color-primary);
    margin: 0;
}

h4 {
    font-weight: 300;
    font-family: var(--ff-title);
    font-size: var(--fs-title4);
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}

p {
    font-weight: 500;
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
    line-height: 1.5;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    font-weight: 600;
    text-decoration: none;
    font-size: var(--fs-links);
    font-family: var(--ff-paragraph);
    margin: 0;
}

li {
    list-style-type: none;
}

.header {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 16px;
}

.header.addColor {
    background-color: var(--bg-color);
    z-index: 10;
    opacity: 0.95;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__logo {
    display: block;
    width: 40px;
    height: 40px;
}

.nav__title {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-primary-paragraph);
    margin: 0;
    font-family: var(--ff-title);
}

.nav__title__city {
    font-size: 10px;
    font-family: var(--ff-paragraph);
}

/* .main {
    display: none;
} */

.navList__movile{
    display: none;
    padding: 16px;
    position: absolute;
    font-family: var(--ff-paragraph);
    width: 100vw;
    line-height: 32px;
    background-color: var(--color-bgsections);
    top: 0;
    left: 0;
    top: 60px;
    z-index: 2;
}

.navList__movile.active {
    display: block;
}

.naList__menu__sections {
    text-align: center;
}

.navList__menu {
    padding: 0;
}

.navList__menu__li {
    list-style: none;
}

.navList__menu__link {
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
}

.navList__menu__link__CV {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

/* .navList__menu__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navList__menu__footer__darkmode {
    background-color:  var(--color-primary);
    border-radius: 30px;
    padding: 10px;
    width: 150px;
}

.navList__menu__footer__darkmode__paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 0;
    padding: 0;
    margin: 0;
    font-size: var(--fs-links);
    color:  var(--color-primary-button);
}

.navList__menu__footer__darkmode__img {
    width: 15px;
    height: auto;
} */

.main.active {
    display: none;
}

.othercolor {
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
}

.navList {
    display: none;
}

.darkMode__img {
    display: none;
}

.navBurguermenu__img__hamburguer, .navBurguermenu__img__close {
    width: 30px;
    height: 30px;
}

.navBurguermenu__img__hamburguer.active {
    display: none;
}

.navBurguermenu__img__close{
    display: none;
}

.navBurguermenu__img__close.active {
    display: block;
}

.socialmedias {
    display: none;
}

.heroContainer {
    overflow: hidden;
}

.heroContent__General {
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    text-align: center;
    /* background-image: url(./src/img/foto_miguel.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    /* background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    background: -moz-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%); */
    /* Created with https://www.css-gradient.com */
}

#intro {
    width: 100%;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.starContainer {
    position: sticky;
    top: -20%;
    /* z-index: -1; */
}

.stars {
    position: absolute;    
    z-index: -1;
    width: 1px;
    height: 1px;
    border-radius: 2px;
    box-shadow: 1674px 1379px #fffcf2 , 992px 1173px #fffcf2 , 1193px 1703px #fffcf2 , 1205px 301px #fffcf2 , 1781px 890px #fffcf2 , 1305px 869px #fffcf2 , 756px 286px #fffcf2 , 1541px 689px #fffcf2 , 1390px 697px #fffcf2 , 912px 1269px #fffcf2 , 1995px 1082px #fffcf2 , 392px 1958px #fffcf2 , 983px 41px #fffcf2 , 1580px 811px #fffcf2 , 1117px 1010px #fffcf2 , 573px 1544px #fffcf2 , 1289px 1377px #fffcf2 , 698px 1122px #fffcf2 , 613px 1312px #fffcf2 , 145px 1151px #fffcf2 , 1996px 57px #fffcf2 , 311px 855px #fffcf2 , 1342px 126px #fffcf2 , 1805px 1840px #fffcf2 , 1307px 1202px #fffcf2 , 1114px 323px #fffcf2 , 291px 1549px #fffcf2 , 1679px 1815px #fffcf2 , 692px 163px #fffcf2 , 1121px 835px #fffcf2 , 30px 1497px #fffcf2 , 1601px 563px #fffcf2 , 222px 1483px #fffcf2 , 1556px 1606px #fffcf2 , 1110px 1199px #fffcf2 , 1086px 1590px #fffcf2 , 869px 1234px #fffcf2 , 443px 1790px #fffcf2 , 1751px 1214px #fffcf2 , 1554px 548px #fffcf2 , 1844px 1661px #fffcf2 , 597px 1418px #fffcf2 , 1290px 247px #fffcf2 , 190px 1775px #fffcf2 , 909px 872px #fffcf2 , 1810px 1276px #fffcf2 , 714px 1562px #fffcf2 , 974px 1101px #fffcf2 , 1205px 718px #fffcf2 , 976px 1484px #fffcf2 , 1925px 1517px #fffcf2 , 485px 1245px #fffcf2 , 386px 1359px #fffcf2 , 1526px 394px #fffcf2 , 1990px 235px #fffcf2 , 1884px 1150px #fffcf2 , 753px 403px #fffcf2 , 1183px 1123px #fffcf2 , 214px 836px #fffcf2 , 1965px 1720px #fffcf2 , 43px 463px #fffcf2 , 1385px 1229px #fffcf2 , 401px 1280px #fffcf2 , 639px 156px #fffcf2 , 1356px 980px #fffcf2 , 955px 1649px #fffcf2 , 1915px 1519px #fffcf2 , 668px 1664px #fffcf2 , 385px 687px #fffcf2 , 1670px 1562px #fffcf2 , 836px 162px #fffcf2 , 948px 1747px #fffcf2 , 54px 1007px #fffcf2 , 39px 1336px #fffcf2 , 973px 975px #fffcf2 , 671px 1588px #fffcf2 , 1383px 225px #fffcf2 , 1872px 960px #fffcf2 , 1444px 1257px #fffcf2 , 1064px 453px #fffcf2 , 633px 319px #fffcf2 , 1301px 535px #fffcf2 , 1765px 1783px #fffcf2 , 1307px 521px #fffcf2 , 1905px 1162px #fffcf2 , 938px 209px #fffcf2 , 1223px 1951px #fffcf2 , 747px 890px #fffcf2 , 1708px 1856px #fffcf2 , 1431px 1370px #fffcf2 , 1949px 12px #fffcf2 , 1307px 1595px #fffcf2 , 953px 257px #fffcf2 , 1753px 1475px #fffcf2 , 990px 1087px #fffcf2 , 1555px 118px #fffcf2 , 727px 308px #fffcf2 , 90px 1149px #fffcf2 , 1083px 1746px #fffcf2 , 213px 787px #fffcf2 , 1635px 828px #fffcf2 , 1805px 1963px #fffcf2 , 794px 44px #fffcf2 , 642px 917px #fffcf2 , 1473px 1488px #fffcf2 , 1704px 802px #fffcf2 , 1098px 1042px #fffcf2 , 896px 1823px #fffcf2 , 1945px 698px #fffcf2 , 215px 1286px #fffcf2 , 1355px 1561px #fffcf2 , 74px 1409px #fffcf2 , 1937px 692px #fffcf2 , 1674px 1586px #fffcf2 , 1953px 686px #fffcf2 , 1267px 1903px #fffcf2 , 855px 847px #fffcf2 , 1117px 65px #fffcf2 , 1183px 930px #fffcf2 , 93px 819px #fffcf2 , 1956px 350px #fffcf2 , 1482px 1343px #fffcf2 , 1145px 1688px #fffcf2 , 361px 727px #fffcf2 , 121px 871px #fffcf2 , 1519px 1360px #fffcf2 , 509px 1866px #fffcf2 , 508px 1711px #fffcf2 , 1101px 1630px #fffcf2 , 1070px 1433px #fffcf2 , 1488px 858px #fffcf2 , 523px 1886px #fffcf2 , 635px 200px #fffcf2 , 1399px 613px #fffcf2 , 1441px 942px #fffcf2 , 1381px 243px #fffcf2 , 1381px 1141px #fffcf2 , 1827px 1368px #fffcf2 , 521px 858px #fffcf2 , 1787px 720px #fffcf2 , 1983px 463px #fffcf2 , 1129px 978px #fffcf2 , 1436px 897px #fffcf2 , 4px 1750px #fffcf2 , 1739px 662px #fffcf2 , 326px 571px #fffcf2 , 1578px 1589px #fffcf2 , 888px 1298px #fffcf2 , 693px 873px #fffcf2 , 833px 1066px #fffcf2 , 136px 893px #fffcf2 , 711px 241px #fffcf2 , 41px 453px #fffcf2 , 128px 281px #fffcf2 , 82px 727px #fffcf2 , 1629px 1090px #fffcf2 , 1995px 446px #fffcf2 , 1461px 1145px #fffcf2 , 328px 1226px #fffcf2 , 514px 1101px #fffcf2 , 1218px 994px #fffcf2 , 1317px 1716px #fffcf2 , 484px 1982px #fffcf2 , 335px 1242px #fffcf2 , 559px 897px #fffcf2 , 775px 755px #fffcf2 , 1081px 1253px #FFF , 1666px 1327px #FFF , 569px 1335px #fffcf2 , 883px 486px #fffcf2 , 1629px 853px #fffcf2 , 765px 1663px #fffcf2 , 667px 792px #fffcf2 , 606px 809px #fffcf2 , 157px 350px #fffcf2 , 1742px 518px #fffcf2 , 918px 323px #fffcf2 , 11px 1654px #fffcf2 , 1101px 1845px #fffcf2 , 1336px 551px #fffcf2 , 1776px 1988px #fffcf2 , 1993px 1929px #fffcf2 , 612px 1008px #fffcf2 , 1654px 1078px #fffcf2 , 1946px 160px #fffcf2 , 387px 681px #fffcf2 , 176px 293px #fffcf2 , 1934px 285px #fffcf2 , 1032px 974px #fffcf2 , 985px 1089px #fffcf2 , 1840px 1783px #fffcf2 , 1180px 356px #fffcf2 , 596px 503px #fffcf2 , 571px 409px #fffcf2 , 1454px 49px #fffcf2 , 1667px 1643px #fffcf2 , 844px 278px #fffcf2 , 919px 1026px #fffcf2 , 1916px 1086px #fffcf2 , 1855px 1212px #fffcf2 , 741px 880px #fffcf2 , 66px 148px #fffcf2 , 357px 1714px #fffcf2 , 559px 1534px #fffcf2 , 761px 1662px #fffcf2 , 883px 1059px #fffcf2 , 1418px 60px #fffcf2 , 1091px 302px #fffcf2 , 1538px 663px #fffcf2 , 1688px 949px #fffcf2 , 993px 1482px #fffcf2 , 1516px 1976px #fffcf2 , 620px 1095px #fffcf2 , 577px 1711px #fffcf2 , 301px 110px #fffcf2 , 940px 401px #fffcf2 , 18px 269px #fffcf2 , 1241px 1638px #fffcf2 , 36px 1726px #fffcf2 , 444px 509px #fffcf2 , 1846px 886px #fffcf2 , 1687px 1426px #fffcf2 , 1906px 786px #fffcf2 , 770px 362px #fffcf2 , 1187px 1804px #fffcf2 , 940px 393px #fffcf2 , 1720px 978px #fffcf2 , 1737px 11px #fffcf2 , 658px 1344px #fffcf2 , 1891px 786px #fffcf2 , 649px 1020px #fffcf2 , 118px 216px #fffcf2 , 1226px 1341px #fffcf2 , 576px 594px #fffcf2 , 1435px 1644px #fffcf2 , 1700px 1559px #fffcf2 , 1189px 1484px #fffcf2 , 991px 1663px #fffcf2 , 573px 319px #fffcf2 , 1526px 1010px #fffcf2 , 808px 151px #fffcf2 , 1573px 755px #fffcf2 , 795px 1720px #fffcf2 , 1907px 1810px #fffcf2 , 59px 945px #fffcf2 , 1250px 1493px #fffcf2 , 573px 919px #fffcf2 , 155px 1691px #fffcf2 , 1955px 1336px #fffcf2 , 1588px 515px #fffcf2 , 1175px 1219px #fffcf2 , 1571px 1870px #fffcf2 , 1124px 595px #fffcf2 , 1612px 283px #fffcf2 , 743px 1638px #fffcf2 , 871px 932px #fffcf2 , 677px 373px #fffcf2 , 1974px 136px #fffcf2 , 270px 1313px #fffcf2 , 1659px 1632px #fffcf2 , 1436px 37px #fffcf2 , 1808px 1558px #fffcf2 , 764px 668px #fffcf2 , 1292px 578px #fffcf2 , 935px 1738px #fffcf2 , 348px 1617px #fffcf2 , 1199px 829px #fffcf2 , 1341px 64px #fffcf2 , 254px 647px #fffcf2 , 1699px 1593px #fffcf2 , 272px 792px #fffcf2 , 1627px 768px #fffcf2 , 864px 1022px #fffcf2 , 998px 155px #fffcf2 , 1378px 222px #fffcf2 , 1262px 1359px #fffcf2 , 519px 1504px #fffcf2 , 214px 1195px #fffcf2 , 1057px 65px #fffcf2 , 1900px 271px #fffcf2 , 1793px 1664px #fffcf2 , 1990px 1005px #fffcf2 , 1630px 834px #fffcf2 , 1378px 1493px #fffcf2 , 1922px 1491px #fffcf2 , 1813px 308px #fffcf2 , 392px 1214px #fffcf2 , 1354px 816px #fffcf2 , 1207px 241px #fffcf2 , 921px 1276px #fffcf2 , 1070px 1579px #fffcf2 , 566px 1099px #fffcf2 , 1587px 873px #fffcf2 , 571px 1473px #fffcf2 , 1408px 1129px #fffcf2 , 1305px 1451px #fffcf2 , 1694px 826px #fffcf2 , 698px 1512px #fffcf2 , 799px 136px #fffcf2 , 126px 1829px #fffcf2 , 652px 1063px #fffcf2 , 504px 1161px #fffcf2 , 942px 631px #fffcf2 , 1483px 1238px #fffcf2 , 615px 181px #fffcf2 , 1470px 1456px #fffcf2 , 923px 1015px #fffcf2 , 659px 1699px #fffcf2 , 78px 1452px #fffcf2 , 1082px 1243px #fffcf2 , 265px 1744px #fffcf2 , 1520px 1550px #fffcf2 , 657px 585px #fffcf2 , 1659px 1240px #fffcf2 ,778px 1828px #fffcf2 , 394px 1983px #fffcf2 , 380px 1522px #fffcf2 , 882px 1669px #fffcf2 , 1372px 1266px #fffcf2 , 1712px 1919px #fffcf2 , 914px 1370px #fffcf2 , 796px 1481px #fffcf2 , 1471px 1535px #fffcf2 , 1451px 1269px #fffcf2 , 674px 1172px #fffcf2 , 511px 1272px #fffcf2 , 1568px 854px #fffcf2 , 1744px 830px #fffcf2 , 1284px 391px #fffcf2 , 315px 1437px #fffcf2 , 50px 409px #fffcf2 , 600px 16px #FFF , 1473px 1321px #FFF , 5px 342px #FFF , 1661px 375px #fffcf2 , 928px 1628px #fffcf2 , 19px 206px #fffcf2 , 248px 411px #fffcf2 , 990px 259px #fffcf2 , 934px 1431px #fffcf2 , 472px 92px #fffcf2 , 21px 860px #fffcf2 , 293px 1982px #fffcf2 , 864px 1753px #fffcf2 , 1095px 241px #fffcf2 , 1969px 118px #fffcf2 , 1650px 819px #fffcf2 , 1283px 1630px #fffcf2 , 1px 1188px #fffcf2 , 199px 754px #fffcf2 , 1563px 1484px #fffcf2 , 1371px 504px #fffcf2 , 921px 1852px #fffcf2 , 1116px 732px #fffcf2 , 279px 1258px #fffcf2, 1915px 1519px #fffcf2 , 668px 1664px #fffcf2 , 385px 687px #fffcf2 , 1670px 1562px #fffcf2 , 836px 162px #fffcf2 , 948px 1747px #fffcf2 , 54px 1007px #fffcf2 , 39px 1336px #fffcf2 , 973px 975px #fffcf2 , 671px 1588px #fffcf2 , 1383px 225px #fffcf2 , 1872px 960px #fffcf2 , 1444px 1257px #fffcf2 , 1064px 453px #fffcf2 , 633px 319px #fffcf2 , 1301px 535px #fffcf2 , 1765px 1783px #fffcf2 , 1307px 521px #fffcf2 , 1905px 1162px #fffcf2 , 938px 209px #fffcf2 , 1223px 1951px #fffcf2 , 747px 890px #fffcf2 , 1708px 1856px #fffcf2 , 1431px 1370px #fffcf2 , 1949px 12px #fffcf2 , 1307px 1595px #fffcf2 , 953px 257px #fffcf2 , 1753px 1475px #fffcf2 , 990px 1087px #fffcf2 , 1555px 118px #fffcf2 , 727px 308px #fffcf2 , 90px 1149px #fffcf2 , 1083px 1746px #fffcf2 , 213px 787px #fffcf2 , 1635px 828px #fffcf2 , 1805px 1963px #fffcf2 , 794px 44px #fffcf2 , 642px 917px #fffcf2 , 1473px 1488px #fffcf2 , 1704px 802px #fffcf2 , 1098px 1042px #fffcf2 , 896px 1823px #fffcf2 , 1945px 698px #fffcf2 , 215px 1286px #fffcf2 , 1355px 1561px #fffcf2 , 74px 1409px #fffcf2 , 1937px 692px #fffcf2 , 1674px 1586px #fffcf2 , 1953px 686px #fffcf2 , 1267px 1903px #fffcf2 , 855px 847px #fffcf2 , 1117px 65px #fffcf2 , 1183px 930px #fffcf2 , 93px 819px #fffcf2 , 1956px 350px #fffcf2 , 1482px 1343px #fffcf2 , 1145px 1688px #fffcf2 , 361px 727px #fffcf2 , 121px 871px #fffcf2 , 1519px 1360px #fffcf2 , 509px 1866px #fffcf2 , 508px 1711px #fffcf2 , 1101px 1630px #fffcf2 , 1070px 1433px #fffcf2 , 1488px 858px #fffcf2 , 523px 1886px #fffcf2 , 635px 200px #fffcf2 , 1399px 613px #fffcf2 , 1441px 942px #fffcf2 , 1381px 243px #fffcf2 , 1381px 1141px #fffcf2 , 1827px 1368px #fffcf2 , 521px 858px #fffcf2 , 1787px 720px #fffcf2 , 1983px 463px #fffcf2 , 1129px 978px #fffcf2 , 1436px 897px #fffcf2 , 4px 1750px #fffcf2 , 1739px 662px #fffcf2 , 326px 571px #fffcf2 , 1578px 1589px #fffcf2 , 888px 1298px #fffcf2 , 693px 873px #fffcf2 , 833px 1066px #fffcf2 , 136px 893px #fffcf2 , 711px 241px #fffcf2 , 41px 453px #fffcf2 , 128px 281px #fffcf2 , 82px 727px #fffcf2 , 1629px 1090px #fffcf2 , 1995px 446px #fffcf2 , 1461px 1145px #fffcf2 , 328px 1226px #fffcf2 , 514px 1101px #fffcf2 , 1218px 994px #fffcf2 , 1317px 1716px #fffcf2 , 484px 1982px #fffcf2 , 335px 1242px #fffcf2 , 559px 897px #fffcf2 , 775px 755px #fffcf2 , 1081px 1253px #FFF , 1666px 1327px #FFF , 569px 1335px #fffcf2 , 883px 486px #fffcf2 , 1629px 853px #fffcf2 , 765px 1663px #fffcf2 , 667px 792px #fffcf2 , 606px 809px #fffcf2 , 157px 350px #fffcf2 , 1742px 518px #fffcf2 , 918px 323px #fffcf2 , 11px 1654px #fffcf2 , 1101px 1845px #fffcf2 , 1336px 551px #fffcf2 , 1776px 1988px #fffcf2 , 1993px 1929px #fffcf2 , 612px 1008px #fffcf2 , 1654px 1078px #fffcf2 , 1946px 160px #fffcf2 , 387px 681px #fffcf2 , 176px 293px #fffcf2 , 1934px 285px #fffcf2 , 1032px 974px #fffcf2 , 985px 1089px #fffcf2 , 1840px 1783px #fffcf2 , 1180px 356px #fffcf2 , 596px 503px #fffcf2 , 571px 409px #fffcf2 , 1454px 49px #fffcf2 , 1667px 1643px #fffcf2 , 844px 278px #fffcf2 , 919px 1026px #fffcf2 , 1916px 1086px #fffcf2 , 1855px 1212px #fffcf2 , 741px 880px #fffcf2 , 66px 148px #fffcf2 , 357px 1714px #fffcf2 , 559px 1534px #fffcf2 , 761px 1662px #fffcf2 , 883px 1059px #fffcf2 , 1418px 60px #fffcf2 , 1091px 302px #fffcf2 , 1538px 663px #fffcf2 , 1688px 949px #fffcf2 , 993px 1482px #fffcf2 , 1516px 1976px #fffcf2 , 620px 1095px #fffcf2 , 577px 1711px #fffcf2 , 301px 110px #fffcf2 , 940px 401px #fffcf2, 1915px 1519px #fffcf2 , 668px 1664px #fffcf2 , 385px 687px #fffcf2 , 1670px 1562px #fffcf2 , 836px 162px #fffcf2 , 948px 1747px #fffcf2 , 54px 1007px #fffcf2 , 39px 1336px #fffcf2 , 973px 975px #fffcf2 , 671px 1588px #fffcf2 , 1383px 225px #fffcf2 , 1872px 960px #fffcf2 , 1444px 1257px #fffcf2 , 1064px 453px #fffcf2 , 633px 319px #fffcf2 , 1301px 535px #fffcf2 , 1765px 1783px #fffcf2 , 1307px 521px #fffcf2 , 1905px 1162px #fffcf2 , 938px 209px #fffcf2 , 1223px 1951px #fffcf2 , 747px 890px #fffcf2 , 1708px 1856px #fffcf2 , 1431px 1370px #fffcf2 , 1949px 12px #fffcf2 , 1307px 1595px #fffcf2 , 953px 257px #fffcf2 , 1753px 1475px #fffcf2 , 990px 1087px #fffcf2 , 1555px 118px #fffcf2 , 727px 308px #fffcf2 , 90px 1149px #fffcf2 , 1083px 1746px #fffcf2 , 213px 787px #fffcf2 , 1635px 828px #fffcf2 , 1805px 1963px #fffcf2 , 794px 44px #fffcf2 , 642px 917px #fffcf2 , 1473px 1488px #fffcf2 , 1704px 802px #fffcf2 , 1098px 1042px #fffcf2 , 896px 1823px #fffcf2 , 1945px 698px #fffcf2 , 215px 1286px #fffcf2 , 1355px 1561px #fffcf2 , 74px 1409px #fffcf2 , 1937px 692px #fffcf2 , 1674px 1586px #fffcf2 , 1953px 686px #fffcf2 , 1267px 1903px #fffcf2 , 855px 847px #fffcf2 , 1117px 65px #fffcf2 , 1183px 930px #fffcf2 , 93px 819px #fffcf2 , 1956px 350px #fffcf2 , 1482px 1343px #fffcf2 , 1145px 1688px #fffcf2 , 361px 727px #fffcf2 , 121px 871px #fffcf2 , 1519px 1360px #fffcf2 , 509px 1866px #fffcf2 , 508px 1711px #fffcf2 , 1101px 1630px #fffcf2 , 1070px 1433px #fffcf2 , 1488px 858px #fffcf2 , 523px 1886px #fffcf2 , 635px 200px #fffcf2 , 1399px 613px #fffcf2 , 1441px 942px #fffcf2 , 1381px 243px #fffcf2 , 1381px 1141px #fffcf2 , 1827px 1368px #fffcf2 , 521px 858px #fffcf2 , 1787px 720px #fffcf2 , 1983px 463px #fffcf2 , 1129px 978px #fffcf2 , 1436px 897px #fffcf2 , 4px 1750px #fffcf2 , 1739px 662px #fffcf2 , 326px 571px #fffcf2 , 1578px 1589px #fffcf2 , 888px 1298px #fffcf2 , 693px 873px #fffcf2 , 833px 1066px #fffcf2 , 136px 893px #fffcf2 , 711px 241px #fffcf2 , 41px 453px #fffcf2 , 128px 281px #fffcf2 , 82px 727px #fffcf2 , 1629px 1090px #fffcf2 , 1995px 446px #fffcf2 , 1461px 1145px #fffcf2 , 328px 1226px #fffcf2 , 514px 1101px #fffcf2 , 1218px 994px #fffcf2 , 1317px 1716px #fffcf2 , 484px 1982px #fffcf2 , 335px 1242px #fffcf2 , 559px 897px #fffcf2 , 775px 755px #fffcf2 , 1081px 1253px #FFF , 1666px 1327px #FFF , 569px 1335px #fffcf2 , 883px 486px #fffcf2 , 1629px 853px #fffcf2 , 765px 1663px #fffcf2 , 667px 792px #fffcf2 , 606px 809px #fffcf2 , 157px 350px #fffcf2 , 1742px 518px #fffcf2 , 918px 323px #fffcf2 , 11px 1654px #fffcf2 , 1101px 1845px #fffcf2 , 1336px 551px #fffcf2 , 1776px 1988px #fffcf2 , 1993px 1929px #fffcf2 , 612px 1008px #fffcf2 , 1654px 1078px #fffcf2 , 1946px 160px #fffcf2 , 387px 681px #fffcf2 , 176px 293px #fffcf2 , 1934px 285px #fffcf2 , 1032px 974px #fffcf2 , 985px 1089px #fffcf2 , 1840px 1783px #fffcf2 , 1180px 356px #fffcf2 , 596px 503px #fffcf2 , 571px 409px #fffcf2 , 1454px 49px #fffcf2 , 1667px 1643px #fffcf2 , 844px 278px #fffcf2 , 919px 1026px #fffcf2 , 1916px 1086px #fffcf2 , 1855px 1212px #fffcf2 , 741px 880px #fffcf2 , 66px 148px #fffcf2 , 357px 1714px #fffcf2 , 559px 1534px #fffcf2 , 761px 1662px #fffcf2 , 883px 1059px #fffcf2 , 1418px 60px #fffcf2 , 1091px 302px #fffcf2 , 1538px 663px #fffcf2 , 1688px 949px #fffcf2 , 993px 1482px #fffcf2 , 1516px 1976px #fffcf2 , 620px 1095px #fffcf2 , 577px 1711px #fffcf2 , 301px 110px #fffcf2 , 940px 401px #fffcf2;
    animation:animStaropacity 3s linear infinite; 
}
.stars2 {
    position: absolute;    
    z-index: -1;
    width: 2px;
    height: 2px;
    border-radius: 3px;
    box-shadow: 107px 1763px #fffcf2 , 1664px 1938px #fffcf2 , 483px 1565px #fffcf2 , 777px 1678px #fffcf2 , 1306px 246px #fffcf2 , 147px 1313px #fffcf2 , 1748px 368px #fffcf2 , 1331px 1071px #fffcf2 , 355px 1322px #fffcf2 , 1282px 661px #fffcf2 , 1962px 1659px #fffcf2 , 1366px 947px #fffcf2 , 1502px 1997px #fffcf2 , 485px 520px #fffcf2 , 1657px 995px #fffcf2 , 1485px 1249px #fffcf2 , 1523px 1816px #fffcf2 , 14px 722px #fffcf2 , 642px 1860px #fffcf2 , 806px 430px #fffcf2 , 766px 342px #fffcf2 , 212px 103px #fffcf2 , 1662px 764px #fffcf2 , 1005px 1425px #fffcf2 , 1967px 361px #fffcf2 , 1652px 206px #fffcf2 , 1678px 159px #fffcf2 , 709px 459px #fffcf2 , 1429px 1148px #fffcf2 , 609px 1900px #fffcf2 , 515px 1191px #fffcf2 , 774px 1160px #fffcf2 , 171px 63px #fffcf2 , 1303px 1225px #fffcf2 , 1401px 187px #fffcf2 , 1735px 407px #fffcf2 , 1910px 197px #fffcf2 , 488px 1045px #fffcf2 , 440px 783px #fffcf2 , 1453px 1753px #fffcf2 , 139px 1942px #fffcf2 , 1093px 1381px #fffcf2 , 1412px 1014px #fffcf2 , 763px 427px #fffcf2 , 385px 849px #fffcf2 , 924px 1184px #fffcf2 , 603px 1001px #fffcf2 , 338px 854px #fffcf2 , 1432px 1925px #fffcf2 , 662px 864px #fffcf2 , 1756px 499px #fffcf2 , 1234px 550px #fffcf2 , 659px 859px #fffcf2 , 508px 992px #fffcf2 , 1671px 1094px #fffcf2 , 1376px 332px #fffcf2 , 1906px 231px #fffcf2 , 1656px 1075px #fffcf2 , 1993px 224px #fffcf2 , 303px 1578px #fffcf2 , 1782px 1660px #fffcf2 , 971px 231px #fffcf2 , 967px 1219px #fffcf2 , 1890px 1913px #fffcf2 , 1033px 248px #fffcf2 , 1475px 446px #fffcf2 , 255px 1498px #fffcf2 , 1601px 1923px #fffcf2 , 636px 98px #fffcf2 , 114px 141px #fffcf2 , 1204px 1662px #fffcf2 , 368px 1730px #fffcf2 , 1676px 1162px #fffcf2 , 1878px 1488px #fffcf2 , 816px 1131px #fffcf2 , 738px 1776px #fffcf2 , 866px 1658px #fffcf2 , 456px 1568px #fffcf2 , 1647px 365px #fffcf2 , 1268px 1458px #fffcf2 , 775px 1468px #fffcf2 , 1713px 326px #fffcf2 , 962px 625px #fffcf2 , 1622px 344px #fffcf2 , 804px 1431px #fffcf2 , 1071px 1313px #fffcf2 , 861px 183px #fffcf2 , 1839px 1437px #fffcf2 , 1865px 772px #fffcf2 , 449px 590px #fffcf2 , 1106px 494px #fffcf2 , 527px 964px #fffcf2 , 792px 1843px #fffcf2 , 416px 565px #fffcf2 , 1467px 1415px #fffcf2 , 721px 736px #fffcf2 , 319px 13px #fffcf2 , 1304px 807px #fffcf2 , 147px 1315px #fffcf2 , 1248px 257px #fffcf2 , 209px 1919px #fffcf2 , 504px 318px #fffcf2 , 311px 1481px #fffcf2 , 493px 230px #fffcf2 , 826px 311px #fffcf2 , 1487px 928px #fffcf2 , 1598px 1002px #fffcf2 , 1897px 213px #fffcf2 , 277px 1523px #fffcf2 , 1820px 1103px #fffcf2 , 824px 1451px #fffcf2 , 765px 1478px #fffcf2 , 1888px 1739px #fffcf2 , 1026px 1829px #fffcf2 , 596px 490px #fffcf2 , 1279px 1281px #fffcf2 , 1866px 24px #fffcf2 , 1898px 1327px #fffcf2 , 362px 1086px #fffcf2 , 458px 189px #fffcf2 , 10px 913px #fffcf2 , 481px 1575px #fffcf2 , 32px 972px #fffcf2 , 709px 1138px #fffcf2 , 716px 390px #fffcf2 , 336px 1373px #fffcf2 , 1313px 271px #fffcf2 , 276px 1753px #fffcf2 , 941px 1895px #fffcf2;
    animation: animStarX 80s linear infinite; 
}
.stars3 {
    position: absolute;    
    z-index: -1;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    box-shadow: 1074px 1789px #fffcf2 , 1873px 1501px #fffcf2 , 164px 207px #fffcf2 , 1193px 1795px #fffcf2 , 396px 1095px #fffcf2 , 214px 201px #fffcf2 , 934px 94px #fffcf2 , 264px 1186px #fffcf2 , 1382px 1340px #fffcf2 , 792px 666px #fffcf2 , 167px 1338px #fffcf2 , 43px 1957px #fffcf2 , 408px 1168px #fffcf2 , 828px 923px #fffcf2 , 119px 440px #fffcf2 , 1001px 445px #fffcf2 , 266px 72px #fffcf2 , 71px 1735px #fffcf2 , 1439px 403px #fffcf2 , 1576px 1311px #fffcf2 , 1028px 1771px #fffcf2 , 1945px 1444px #fffcf2 , 1864px 54px #fffcf2 , 1255px 1604px #fffcf2 , 1126px 973px #fffcf2 , 451px 1506px #fffcf2 , 1185px 628px #fffcf2 , 688px 1033px #fffcf2 , 778px 951px #fffcf2 , 266px 1328px #fffcf2 , 429px 1071px #fffcf2 , 105px 136px #fffcf2 , 1711px 1359px #fffcf2 , 746px 82px #fffcf2 , 1967px 1532px #fffcf2 , 932px 363px #fffcf2 , 1235px 699px #fffcf2 , 1479px 404px #fffcf2 , 1501px 1725px #fffcf2 , 735px 217px #fffcf2 , 1841px 883px #fffcf2 , 1024px 12px #fffcf2 , 197px 358px #fffcf2 , 1482px 1120px #fffcf2 , 302px 388px #fffcf2 , 1909px 1324px #fffcf2 , 943px 237px #fffcf2 , 539px 1692px #fffcf2 , 1858px 395px #fffcf2 , 501px 841px #fffcf2 , 388px 408px #fffcf2 , 600px 1932px #fffcf2 , 1119px 1225px #fffcf2 , 349px 1116px #fffcf2 , 58px 330px #fffcf2 , 399px 234px #fffcf2 , 1188px 1238px #fffcf2 , 385px 444px #fffcf2 , 131px 1809px #fffcf2 , 214px 224px #fffcf2 , 1010px 1854px #fffcf2 , 1758px 479px #fffcf2 , 532px 800px #fffcf2 , 1303px 1906px #fffcf2 , 1916px 1007px #fffcf2 , 1601px 640px #fffcf2 , 1360px 1758px #fffcf2 , 1487px 743px #fffcf2 , 64px 1416px #fffcf2 , 1830px 58px #fffcf2 , 366px 482px #fffcf2 , 284px 1240px #fffcf2 , 1608px 420px #fffcf2 , 583px 859px #fffcf2 , 814px 1357px #fffcf2 , 110px 489px #fffcf2 , 787px 107px #fffcf2 , 563px 168px #fffcf2 , 410px 45px #fffcf2 , 862px 593px #fffcf2 , 1399px 1018px #fffcf2 , 173px 1402px #fffcf2 , 1487px 164px #fffcf2 , 1625px 586px #fffcf2 , 836px 199px #fffcf2 , 1px 1529px #fffcf2 , 123px 287px #fffcf2 , 270px 1168px #fffcf2 , 798px 1338px #fffcf2 , 767px 527px #fffcf2 , 313px 438px #fffcf2 , 1371px 1231px #fffcf2 , 467px 1342px #fffcf2 , 134px 707px #fffcf2 , 1724px 442px #fffcf2 , 1799px 1152px #fffcf2 , 1537px 1259px #fffcf2 , 1428px 494px #fffcf2 , 396px 1067px #fffcf2 , 561px 1376px #fffcf2;
    animation: animStaropacity 5s linear infinite; 
}
    /* .stars3:after {
      content: " ";
      position: absolute;
      top: 300vh;
      width: 3px;
      height: 3px;
      background: transparent;
    box-shadow: 1074px 1789px #FA99AE , 1873px 1501px #FA99AE , 164px 207px #FA99AE , 1193px 1795px #FA99AE , 396px 1095px #FA99AE , 214px 201px #FA99AE , 934px 94px #FA99AE , 264px 1186px #FA99AE , 1382px 1340px #FA99AE , 792px 666px #FA99AE , 167px 1338px #FA99AE , 43px 1957px #FA99AE , 408px 1168px #FA99AE , 828px 923px #FA99AE , 119px 440px #FA99AE , 1001px 445px #FA99AE , 266px 72px #FA99AE , 71px 1735px #FA99AE , 1439px 403px #FA99AE , 1576px 1311px #FA99AE , 1028px 1771px #FA99AE , 1945px 1444px #FA99AE , 1864px 54px #FA99AE , 1255px 1604px #FA99AE , 1126px 973px #FA99AE , 451px 1506px #FA99AE , 1185px 628px #FA99AE , 688px 1033px #FA99AE , 778px 951px #FA99AE , 266px 1328px #FA99AE , 429px 1071px #FA99AE , 105px 136px #FA99AE , 1711px 1359px #FA99AE , 746px 82px #FA99AE , 1967px 1532px #FA99AE , 932px 363px #FA99AE , 1235px 699px #FA99AE , 1479px 404px #FA99AE , 1501px 1725px #FA99AE , 735px 217px #FA99AE , 1841px 883px #FA99AE , 1024px 12px #FA99AE , 197px 358px #FA99AE , 1482px 1120px #FA99AE , 302px 388px #FA99AE , 1909px 1324px #FA99AE , 943px 237px #FA99AE , 539px 1692px #FA99AE , 1858px 395px #FA99AE , 501px 841px #FA99AE , 388px 408px #FA99AE , 600px 1932px #FA99AE , 1119px 1225px #FA99AE , 349px 1116px #FA99AE , 58px 330px #FA99AE , 399px 234px #FA99AE , 1188px 1238px #FA99AE , 385px 444px #FA99AE , 131px 1809px #FA99AE , 214px 224px #FA99AE , 1010px 1854px #FA99AE , 1758px 479px #FA99AE , 532px 800px #FA99AE , 1303px 1906px #FA99AE , 1916px 1007px #FA99AE , 1601px 640px #FA99AE , 1360px 1758px #FA99AE , 1487px 743px #FA99AE , 64px 1416px #FA99AE , 1830px 58px #FA99AE , 366px 482px #FA99AE , 284px 1240px #FA99AE , 1608px 420px #FA99AE , 583px 859px #FA99AE , 814px 1357px #FA99AE , 110px 489px #FA99AE , 787px 107px #FA99AE , 563px 168px #FA99AE , 410px 45px #FA99AE , 862px 593px #FA99AE , 1399px 1018px #FA99AE , 173px 1402px #FA99AE , 1487px 164px #FA99AE , 1625px 586px #FA99AE , 836px 199px #FA99AE , 1px 1529px #FA99AE , 123px 287px #FA99AE , 270px 1168px #FA99AE , 798px 1338px #FA99AE , 767px 527px #FA99AE , 313px 438px #FA99AE , 1371px 1231px #FA99AE , 467px 1342px #FA99AE , 134px 707px #FA99AE , 1724px 442px #FA99AE , 1799px 1152px #FA99AE , 1537px 1259px #FA99AE , 1428px 494px #FA99AE , 396px 1067px #FA99AE , 561px 1376px #FA99AE;} */

@keyframes animStarX {
    0%, 100% {
        transform: translateY(200px) translateX(-40px); }
    50% {
        transform: translateY(0px) translateX(0px); }
}

@keyframes animStaropacity {
    0%, 100% {
        opacity: 1; }
    75% {
         opacity: 0.1; }
}

.heroContent__General__info {
    display: flex;
    align-items: center;
    padding: 0 22px;
}

/* .heroContent__General__info::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 20px;
    background: var(--color-gradient-90º);
    filter: blur(20px);
    opacity: 0;
} */

.heroContent__General__info--one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.herosubtitle {
    position: relative;
    font-family: var(--ff-title);
    font-size: 18px;
    padding: 0;
    font-weight: 500;
}

.hero__paragraph {
    margin: 0px;
    padding: 0px;
}

.herobutton__link {
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: var(--ff-paragraph);
    color: var(--color-primary-paragraph);
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: var(--color-bgsections);
    text-align: center;
    padding: 10px 16px;
    max-width: max-content;
}

.herobutton__link::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background:  var(--color-gradient-90º);
    border-radius: 8px;
}

.herobutton__link::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-gradient-90º);
    transform: translate3d(5px, 5px, 0) scale(0.90);
    filter: blur(10px);
    opacity: 0.20;
    transition: opacity 0.3s;
    border-radius: inherit;
}

.hero__socialmedia {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0;
}

/* .blob {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.blob__img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    object-fit: fill;
} */

.hero__socialmedia--logo {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
}

.hero__source {
    display: none;
}

/*PORTFOLIO*/

.portContainer {
    padding: 75px 16px;
}

.portContainer__items {
    display: grid;
    gap: 50px;
}

.porfolioContainerSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.portContainer__item {
    display: grid;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.portContainer__item__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.portContainer__item__link {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--ff-paragraph);
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary-opacity);
    text-align: center;
    padding-bottom: 10px;
    width: max-content;
}

/* .portContainer__item__link {
    text-decoration: none;
    font-family: var(--ff-paragraph);
    color: var(--color-primary);
    border: 2px solid var(--color-primary-opacity);
    background-color: var(--color-bgsections);
    box-shadow: 0 0 50px 10px var(--color-primary-opacity2);
    text-align: center;
    border-radius: 30px;
    padding: 10px 0px;
    max-width: 170px;
} */

.portContainer__item__arrow {
    width: 15px;
    height: auto;
    animation: arrow-right 2s forwards infinite;
}

.portContainer__more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-title);
    gap: 20px;
    margin: 0 auto;
    color: var(--color-primary-button);
    font-size: 16px;
    background-color:  var(--color-primary);
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}

.portContainer__item--img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.portContainer__item__lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.portContainer__item__img {
    position: relative;
    width: 50px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-bgsections), 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.portContainer__item__img::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 10%);
}

/* .portContainer__more__img {
    width: 25px;
    rotate: 45deg;
    animation: close 2s linear infinite ;
}

@keyframes close {
    0%,100% {
        transform: rotate3d(0deg);
    }
    50% {
        transform:rotate3d(0, 1, 0, 3.5rad) ;
    }
}

.portContainer__item--third {
    display: none;
}

.portContainer__item--third.active {
    display: grid;
} */

/* @keyframes arrow-right {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
} */

/*HABILIDADES */

.habContainer {
    padding: 75px 16px;
}

.habContainer__general {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    background-color: var(--color-bgsections);
    border-radius: 8px;
}

.habContainer__filter {
    color: var(--color-primary-paragraph);
    text-align: center;
    margin: 0;
}

.habContainer__buttonsFilter {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding: 16px 0;
    border-bottom: 1px solid var(--color-primary);
    /* background-color: #0f3446;
    box-shadow:inset 0px 2px 20px 5px #ffffff17;
    border-radius: 12px; */
}

.habContainer__buttonsFilter__title, .inputs {
    display: none;
}

.habContainer__buttonsFilters__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--ff-paragraph);
    color: var(--color-primary-paragraph);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.label__skills {
    cursor: pointer;
}

.habContainer__buttonsFilters__link__img {
    width: 25px;
    height: 25px;
}

.All.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.lenguages.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.tools.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.habContainer__skills {
    /* background-color: #0f3446;
    border-radius:12px;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    padding: 16px;
}

.habContainer__lenguajes, .habContainer__utility, .habContainer__all {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

.habContainer__all.innactive {
    display: none;
}

.habContainer__lenguajes {
    display: none;
}

.habContainer__lenguajes.active {
    display: grid;
    padding-bottom: calc(437.7px - 297.42px);
}

.habContainer__utility {
    display: none;
}

.habContainer__utility.active {
    display: grid;
    padding-bottom: calc(437.7px - 226.42px);
}

.habContainer__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-bgsections), 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.habContainer__item::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 10%);
}

.habContiner__img {
    width: 35px;
    height: auto;
}

.habContiner__img--title {
    display: block;
    /* font-weight: 200; */
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
    text-transform: uppercase;
}

/*CONTACTO*/

.formContainer {
    padding: 75px 16px;
}

.formContainer__form {
    padding: 16px;
    border-radius: 8px;
    /* background-color: #0f3446;
    border-radius: 12px;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    background-color: var(--color-bgsections);
}

.formContainer__Container__img {
    display: none;
    background-color: var(--color-bgsections);
}

.formContainer__forminput {
    border: none;
    border-bottom: 1px solid var(--color-primary-paragraph);
    color: var(--color-primary-paragraph);
    background-color: transparent;
    padding: 11px;
    width: 100%;
    margin: 11px 0;
    font-family: var(--ff-paragraph);
}

.formContainer__textarea {
    font-size: var(--fs-paragraph);
}

.formContainer__submit {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    width: 200px;
    text-align: center;
}

.formContainer__submit--link {
    font-weight: 600;
    padding-left: 15px;
    font-family: var(--ff-title);
    color:  var(--color-primary-button);
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

/*FOOTER*/

.footer {
    background-color: var(--color-primary);
    color: var(--color-primary-button);
    padding-top: 75px;
    font-family: var(--ff-paragraph);
    font-size: 12px;
    width: 100%;
    padding: 0px 25px;
}

.footer.active {
    display: none;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.footerContainer__links {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footerContainer__link {
    color: var(--color-primary-button);
    font-size: 12px;
    font-weight: 400;
}

@media only screen and (min-width: 768px){

    h1 {
        font-size: var(--fs-title-d);
    }

    h2 {
        font-size: var(--fs-title2-d);
    }

    h3 {
        font-size: var(--fs-title3-d);
    }

    h4 {
        font-size: var(--fs-title4-d);
    }

    p {
        font-size: var(--fs-paragraph-d);
    }

    a {
        font-size: var(--fs-links-d);
    }

    span {
        font-size: var(--fs-paragraph-d);
    }

    .header {
        padding: 20px 32px;
    }

    .nav__title__city {
        font-size: 10px;
    }

    .navList__movile {
        top: 80px;
    }

    .navList__menu__link {
        font-size: var(--fs-paragraph-d);
    }

    .navList__menu__footer__darkmode {
        width: 250px;
    }

    .navList__menu__footer__darkmode__paragraph {
        font-size: 18px;
    }

    .navList__menu__footer__darkmode__img {
        width: 25px;
    }

    .navBurguermenu__img__hamburguer, .navBurguermenu__img__close {
        padding: 0;
        width: 35px;
        height: auto;
    }

    .socialmedias {
        display: none;
    }

    .heroContent__General__info {
        padding: 0 45px;
    }

    .herosubtitle::before {
        left: 30%;
        width: 40%;
    }

    .hero__paragraph {
        max-width: 80%;
        margin: 0 auto;
    }

    .herobutton__link {
        padding: 15px 10px;
        max-width: 250px;
    }

    .hero__socialmedia {
        gap: 50px;
    }

    .hero__socialmedia--logo {
        width: 35px;
        height: auto;
    }

    /*PORTFOLIO*/

    .portContainer {
        padding: 100px 32px;
    }

    .portContainer__item__image {
        grid-area: a;
    }

    .portContainer__item__information {
        grid-area: b;
    }

    .portContainer__item--first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        gap: 50px;
    }

    .portContainer__item--second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "b a";
        gap: 50px;
    }


    .portContainer__item--third.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        gap: 50px;
    }

    /* .portContainer__item--img {
       height: auto;
    }

    .portContainer__item__image {
        grid-area: a;
    } */

    /* .portContainer__item__information {
        grid-area: b;
        gap: 15px;
        justify-content: start;
    }

    .portContainer__item__lenguajes {
        padding-top: 9px;
        display: flex;
        gap: 25px;
    }

    .portContainer__item__img {
        width: 35px;
        height: auto;
    }

    .portContainer__item__link {
        margin: 0;
    }

    .portContainer__more {
        padding: 10px;
    } */

    /*HABILIDADES */

    .habContainer {
        padding: 100px 32px;
    }

    .habContainer__buttonsFilter {
        gap: 100px;
    }

    .habContainer__skills {
        padding: 32px;
        padding-bottom: 32px;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        grid-template-columns: auto auto;
        gap: 35px;
    }

    .habContainer__lenguajes.active {
        padding-bottom: calc(678.83px - 471.3px);
    }
    
    .habContainer__utility.active {
        padding-bottom: calc(678.83px - 366.3px);
    }

    .habContainer__item {
        gap: 35px;
    }

    .habContiner__img {
        width: 50px;
    }

    .habContiner__img--title {
        font-size: var(--fs-paragraph-d);
    }

    .habCont__b__l_text {
        font-size: var(--fs-paragraph-d);
    }

    /*CONTACTO*/

    .formContainer {
        padding: 100px 32px;
    }

    .formContainer__form {
        padding: 0 40px;
        padding-bottom: 40px;
    }

    .formContainer__forminput {
        padding: 30px;
    }

    .formContainer__submit {
        margin-top: 40px;
        padding: 10px;
        width: 250px;
    }

    /*FOOTER*/

    .footer {
        padding: 0px 32px;
    }

    .footerContainer {
        padding: 25px 0;
    }

    .footerContainer__text {
        font-size: 14px;
    }

    .footerContainer__links {
        gap: 35px;
    }

    .footerContainer__link {
        color: var(--color-primary-button);
        font-size: 14px;
    }

}

@media only screen and (min-width: 1024px){

    h1 {
        font-size: var(--fs-title-p);
        padding-bottom: 50px;
    }

    h2 {
        font-size: var(--fs-title2-p);
        margin-bottom: 50px;
        padding: 0;
        text-align: left;
    }

    h2::after {
        background-image: var(--color-gradient-90º);
        top: 50%;
        left: 50%;
        width: 50%;
        height: 2px;
    }

    h3 {
        font-size: var(--fs-title3-p);
    }

    h4 {
        font-size: var(--fs-title4-p);
    }

    p {
        font-size: var(--fs-paragraph-p);
    }

    a {
        font-size: var(--fs-links-p);
    }

    span {
        font-size: var(--fs-paragraph-p);
    }

    .header {
        padding: 25px 80px;
    }

    .nav__title__simbol {
        font-size: 16px;
    }

    .navList {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-weight: bold;
        padding: 0;
        margin: 0;
        gap: 30px;
        list-style: none;
        text-align: center;
    }

    .navBurguermenu__img__hamburguer {
        display: none;
    }

    .navList__link {
        font-weight: 400;
        font-size: var(--fs-links);
        text-decoration: none;
        color: var(--color-primary-paragraph);
    }

    .navList__cv {
        position: relative;
        margin: 0 auto;
        margin-bottom: 25px;
        font-family: var(--ff-paragraph);
        color: var(--color-primary-paragraph);
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--color-bgsections);
        text-align: center;
        padding:  5px 15px;
        max-width: max-content;
    }
    
    .navList__cv::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -4px; bottom: -4px;
        left: -4px; right: -4px;
        background:  var(--color-gradient-90º);
        border-radius: 8px;
    }
    
    .navList__cv::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-gradient-90º);
        transform: translate3d(5px, 5px, 0) scale(0.90);
        filter: blur(10px);
        opacity: 0.20;
        transition: opacity 0.3s;
        border-radius: inherit;
    }

    .darkMode__img {
        display: block;
        width: 25px;
        height: auto;
    }

    .navList__movile {
        display: none;
    }

    .heroContent__General {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .socialmedias {
        position: absolute;
        display: flex;
        align-self: flex-end;
        left: 25px;
        bottom: 3rem;
    }

    .socialmedia__pc {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* .socialmedia__pc::before {
        position: absolute;
        content: "";
        top: -110%;
        left: 14px;
        width: 0.5px;
        height: 100%;
        background: var(--color-primary-paragraph);
        border-radius: 30px;
        opacity: 0.2;
    }

    .socialmedia__pc::after {
        position: absolute;
        content: "";
        top: 50%;
        left: -120%;
        width: 100%;
        height: 2px;
        background: var(--color-primary);
        border-radius: 30px;
    } */

    .socialmedia--logo {
        width: 25px;
        height: 25px;
        padding: 4px;
    }

    .heroContent__General__info {
        display: grid;
        grid-template-columns: 5.5fr 4.5fr;
        padding: 0;
        padding:0 80px;
        /* padding-left: 125px; */
    }

    .heroContent__General__info--one {
        gap: 20px;
        padding-top: 90px;
    }

    .heroTitle {
        padding: 0;
    }

    .herosubtitle::before {
        left: 0;
        width: 30%;
    }

    .hero__paragraph {
        max-width: none;
    }

    .herobutton__link {
        margin: 0;
        padding: 10px 40px;
        max-width: max-content;
    }

    .hero__socialmedia {
        display: none;
    }

    .hero__source {
        display: block;
    }

    /*PORTFOLIO*/

    .portContainer {
        padding: 100px 80px;
    }

    .portContainer__items {
        gap: 100px;
    }

    .porfolioContainerSection {
        gap: 100px;
    }

    .portContainer__item--img {
        max-height: 450px;
    }

    .portContainer__item__img {
        width: 40px;
    }

    .portContainer__more {
        padding: 10px;
    }
/*
    .portContainer__items {
        gap: 175px;
    }

    .portContainer__item {
        grid-template-columns: auto auto;
    }

    .portContainer__item__lenguajes {
        gap: 30px;
    }

    .portContainer__item__image {
        max-width: 500px;
    }

    .portContainer__item--img {
        height: auto;
        width: auto;
    }

    .portContainer__item__information {
        justify-content: start;
        padding-top: 50px;
    }

    .portContainer__recommend{
        text-align: left;
    } */

    /*HABILIDADES*/

    .habContainer {
        padding: 100px 80px;
    }

    .habContainer__information {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .habContainer__paragraph {
        font-size: 20px;
    }

    .habContainer__container {
        display: grid;
        grid-template-columns: 2fr 8fr;
    }

    .habContainer__buttonsFilter {
        flex-direction: column;
        justify-content: start;
        padding: 45px 0;
        gap: 25px;
        border: none;
        border-right: 1px solid var(--color-primary);
    }

    .habContainer__buttonsFilter__title {
        color: var(--color-primary-paragraph);
        font-family: var(--ff-paragraph);
        font-size: 20px;
        text-align: left;
    }

    .habContainer__buttonsFilters__link {
        width: 100%;
        border-bottom: 1px solid var(--bg-color);
        padding: 10px;
        margin: 0;
        font-size: 20px;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        grid-template-columns: auto auto auto;
        gap: 50px;
    }

    .habContainer__lenguajes.active {
        padding-bottom: calc(535.97px - 412.31px);
    }
    
    .habContainer__utility.active {
        padding-bottom: calc(535.97px - 287.31px);
    }

    .habContainer__item {
        gap: 25px;
    } 

    .habContiner__img {
        width: 55px;
        height: auto;
    }

    /*FORMULARIO*/

    .formContainer {
        padding: 100px 80px;
    }

    .formContainer__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: auto;
        gap: 25px;
    }

    .formContainer__Container {
        position: relative;
        display: grid;
        grid-template-columns: 6fr 4fr;
        gap: 15px;
        height: 100%;
    }

    /* .formContainer__Container::after {
        position: absolute;
        content: "";
        top: 20%;
        transform: translateY(-50%) ;
        left: 0%;
        background-color: var(--color-primary);
        width: 90%;
        height: 5%;
        z-index: -1;
        box-shadow: 0 0 10px var(--color-primary-opacity);
        border: 2px solid var(--color-bgsections);
    }

    .formContainer__Container::before {
        position: absolute;
        content: "";
        top: 80%;
        transform: translateY(-50%) rotate(-45deg);
        left:30%;
        background-color: var(--color-primary);
        width: 20%;
        height: 5%;
        z-index: -1;
        box-shadow: 0 0 10px var(--color-primary-opacity);
        border: 2px solid var(--color-bgsections);
    } */

    .forContainer__paragraph {
        font-size: 20px;
    }

    .formContainer__Container__img {
        display: block;
        height: 100%;
        object-fit: cover;
        border: 2px solid var(--color-primary);
        border-radius: 8px;
    }

    .formContainer__form__displayflex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .formContainer__forminput {
        margin: 0;
    }

    .footer {
        padding: 0 80px;
    }

    .footerContainer__links {
        display: flex;
        align-items: center;
        gap: 25px;
    }

}

@media only screen and (min-width: 1300px){

    h1 {
        font-size: var(--fs-title-pl);
        padding-bottom: 50px;
    }

    h2 {
        font-size: var(--fs-title2-pl);
        margin-bottom: 50px;
        padding: 0;
        text-align: left;
    }

    h3 {
        font-size: var(--fs-title3-pl);
    }

    h4 {
        font-size: var(--fs-title4-pl);
    }

    p {
        font-size: var(--fs-paragraph-pl);
    }

    a {
        font-size: var(--fs-links-pl);
    }

    span {
        font-size: var(--fs-paragraph-pl);
    }

    .headerContainer {
        margin: 0 auto;
        max-width: 1300px;
    }

    .heroContent__General {
        padding: 0 80px;
    }

    /* .heroContainer {
        background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
        background: -moz-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
        background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    } */

    .heroContent__General__info {
        padding: 0;
        margin: 0 auto;
        max-width: 1300px;
        grid-template-columns: 1fr 1fr;
    }
/* 
    .heroContent__General__info--one {
        gap: 50px;
    } */

    .hero__paragraph {
        /* max-width: 80%; */
    }

    .portContent, .habContent, .formContent, .footerContainer{
        margin: 0 auto;
        max-width: 1300px;
    }

    .porfolioContainerSection {
        gap: 150px;
    }

    .portContainer__item--third.active {
        gap: 100px;
    }

    .portContainer__item {
        gap: 100px;
    }


    .portContainer__item--img {
        max-height: 450px;
    }

    .footer {
        padding: 25px;
    }

    /* pc */

    .header {
        padding: 25px 60px;
    }

    .navList__link {
        font-size: 15px;
    }

    .darkMode__img {
        display: block;
        width: 30px;
        height: auto;
    }

    /*PORTFOLIO*/

    .porfolioContainerSection {
        gap: 200px;
    }

    /*HABILIDADES*/

    .label__skills {
        font-size: var(--fs-paragraph-pl);
    }

    /*FORMULARIO*/

    /* FOOTER */

 }