:root {
    --ff-title:'Orbitron', sans-serif;
    --ff-paragraph: 'Kanit', sans-serif;
    --fs-title: 55px;
    --fs-title2: 35px;
    --fs-title3: 20px;
    --fs-title4: 16px;
    --fs-paragraph: 16px;
    --fs-links: 14px;
    --fs-title-d: 70px;
    --fs-title2-d: 45px;
    --fs-title3-d: 30px;
    --fs-title4-d: 30px;
    --fs-paragraph-d: 18px;
    --fs-title-p: 80px;
    --fs-title2-p: 60px;
    --fs-title3-p: 30px;
    --fs-title4-p: 25px;
    --fs-paragraph-p: 16px;
    --fs-title-pl: 90px;
    --fs-title2-pl: 70px;
    --fs-title3-pl: 50px;
    --fs-title4-pl: 25px;
    --fs-paragraph-pl: 18px;
    --fs-links-pl: 16px;

    --bg-color: hsla(246, 52%, 14%, 1);
    --color-primary: hsl(43.01deg 86.93% 60.98%);
    --color-primary-opacity: #fdd1595e;
    --color-primary-opacity2: #fdd1591a;
    --color-primary-paragraph: #fffcf2;
    --color-primary-button: #423719;
    --color-bgsections: hsl(247.89deg 37.25% 20%);
    --color-bgContainer: #263946;
    --color-gradient-90º: linear-gradient(90deg, hsl(43.01deg 86.93% 60.98%) 0%, hsla(21, 100%, 79%, 1) 100%);
    --color-gradient-0º: linear-gradient(180deg, hsl(43.01deg 86.93% 60.98%) 0%, hsla(21, 100%, 79%, 1) 100%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

/* canvas {
	position: absolute;
	opacity: 0.1;
	z-index: 9999;
	pointer-events: none;
	user-select: none;
} */

html {
    scroll-behavior: smooth;
    /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background: radial-gradient(ellipse, at bottom rgba(22,40,62,1) 0%, rgba(9,10,15,1) 100%); */
    background-color: var(--bg-color);
}

body {
    /* background-image: url(./src/img/fondo.png); */
    height: 100%;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--color-primary-opacity);
}

h1 {
    text-shadow: -4px -4px 20px var(--color-primary-opacity2);
    font-size: var(--fs-title);
    font-family: var(--ff-title);
    padding-bottom: 25px;
    margin: 0;
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    position: relative;
    font-weight: 600;
    font-family: var(--ff-title);
    font-size: var(--fs-title2);
    margin-bottom: 50px;
    padding: 0;
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

/* h2::after {
    position: absolute;
    content: '';
    background-image: var(--color-gradient-90º);
    top: -83%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 1px;
    z-index:-1;
    border-radius: 30px;
} */

h3 {
    font-weight: 400;
    font-family: var(--ff-title);
    font-size: var(--fs-title3);
    color: var(--color-primary);
    margin: 0;
}

h4 {
    font-weight: 300;
    font-family: var(--ff-title);
    font-size: var(--fs-title4);
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}

p {
    font-weight: 300;
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
    line-height: 1.7;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    font-weight: 600;
    text-decoration: none;
    font-size: var(--fs-links);
    font-family: var(--ff-paragraph);
    margin: 0;
}

li {
    list-style-type: none;
}

.header {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 16px;
}

.header.addColor {
    background-color: var(--bg-color);
    z-index: 10;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__logo {
    display: block;
    width: 40px;
    height: 40px;
}

.nav__title {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-primary-paragraph);
    margin: 0;
    font-family: var(--ff-title);
}

.nav__title__city {
    font-size: 10px;
    font-family: var(--ff-paragraph);
}

/* .main {
    display: none;
} */

.navList__movile{
    display: none;
    padding: 16px;
    position: absolute;
    font-family: var(--ff-paragraph);
    width: 100vw;
    line-height: 32px;
    background-color: var(--color-bgsections);
    top: 0;
    left: 0;
    top: 60px;
    z-index: 2;
}

.navList__movile.active {
    display: block;
}

.naList__menu__sections {
    text-align: center;
}

.navList__menu {
    padding: 0;
}

.navList__menu__li {
    list-style: none;
}

.navList__menu__link {
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
}

.navList__menu__link__CV {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

/* .navList__menu__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navList__menu__footer__darkmode {
    background-color:  var(--color-primary);
    border-radius: 30px;
    padding: 10px;
    width: 150px;
}

.navList__menu__footer__darkmode__paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 0;
    padding: 0;
    margin: 0;
    font-size: var(--fs-links);
    color:  var(--color-primary-button);
}

.navList__menu__footer__darkmode__img {
    width: 15px;
    height: auto;
} */

.main.active {
    display: none;
}

.othercolor {
    background: var(--color-gradient-0º);
    -webkit-background-clip: text;
    color: transparent;
}

.navList {
    display: none;
}

.darkMode__img {
    display: none;
}

.navBurguermenu__img__hamburguer, .navBurguermenu__img__close {
    width: 30px;
    height: 30px;
}

.navBurguermenu__img__hamburguer.active {
    display: none;
}

.navBurguermenu__img__close{
    display: none;
}

.navBurguermenu__img__close.active {
    display: block;
}

.socialmedias {
    display: none;
}

.heroContainer {
    overflow: hidden;
}

.heroContent__General {
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    text-align: center;
    /* background-image: url(./src/img/foto_miguel.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    /* background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    background: -moz-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%); */
    /* Created with https://www.css-gradient.com */
}

.stars {
    position: relative;
    z-index: -10;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    box-shadow: 1674px 1379px #389791 , 992px 1173px #389791 , 1193px 1703px #389791 , 1205px 301px #389791 , 1781px 890px #389791 , 1305px 869px #389791 , 756px 286px #389791 , 1541px 689px #389791 , 1390px 697px #389791 , 912px 1269px #389791 , 1995px 1082px #389791 , 392px 1958px #389791 , 983px 41px #389791 , 1580px 811px #389791 , 1117px 1010px #389791 , 573px 1544px #389791 , 1289px 1377px #389791 , 698px 1122px #389791 , 613px 1312px #389791 , 145px 1151px #389791 , 1996px 57px #389791 , 311px 855px #389791 , 1342px 126px #389791 , 1805px 1840px #389791 , 1307px 1202px #389791 , 1114px 323px #389791 , 291px 1549px #389791 , 1679px 1815px #389791 , 692px 163px #389791 , 1121px 835px #389791 , 30px 1497px #389791 , 1601px 563px #389791 , 222px 1483px #389791 , 1556px 1606px #389791 , 1110px 1199px #389791 , 1086px 1590px #389791 , 869px 1234px #389791 , 443px 1790px #389791 , 1751px 1214px #389791 , 1554px 548px #389791 , 1844px 1661px #389791 , 597px 1418px #389791 , 1290px 247px #389791 , 190px 1775px #389791 , 909px 872px #389791 , 1810px 1276px #389791 , 714px 1562px #389791 , 974px 1101px #389791 , 1205px 718px #389791 , 976px 1484px #389791 , 1925px 1517px #389791 , 485px 1245px #389791 , 386px 1359px #389791 , 1526px 394px #389791 , 1990px 235px #389791 , 1884px 1150px #389791 , 753px 403px #389791 , 1183px 1123px #389791 , 214px 836px #389791 , 1965px 1720px #389791 , 43px 463px #389791 , 1385px 1229px #389791 , 401px 1280px #389791 , 639px 156px #389791 , 1356px 980px #389791 , 955px 1649px #389791 , 1915px 1519px #389791 , 668px 1664px #389791 , 385px 687px #389791 , 1670px 1562px #389791 , 836px 162px #389791 , 948px 1747px #389791 , 54px 1007px #389791 , 39px 1336px #389791 , 973px 975px #389791 , 671px 1588px #389791 , 1383px 225px #389791 , 1872px 960px #389791 , 1444px 1257px #389791 , 1064px 453px #389791 , 633px 319px #389791 , 1301px 535px #389791 , 1765px 1783px #389791 , 1307px 521px #389791 , 1905px 1162px #389791 , 938px 209px #389791 , 1223px 1951px #389791 , 747px 890px #389791 , 1708px 1856px #389791 , 1431px 1370px #389791 , 1949px 12px #389791 , 1307px 1595px #389791 , 953px 257px #389791 , 1753px 1475px #389791 , 990px 1087px #389791 , 1555px 118px #389791 , 727px 308px #389791 , 90px 1149px #389791 , 1083px 1746px #389791 , 213px 787px #389791 , 1635px 828px #389791 , 1805px 1963px #389791 , 794px 44px #389791 , 642px 917px #389791 , 1473px 1488px #389791 , 1704px 802px #389791 , 1098px 1042px #389791 , 896px 1823px #389791 , 1945px 698px #389791 , 215px 1286px #389791 , 1355px 1561px #389791 , 74px 1409px #389791 , 1937px 692px #389791 , 1674px 1586px #389791 , 1953px 686px #389791 , 1267px 1903px #389791 , 855px 847px #389791 , 1117px 65px #389791 , 1183px 930px #389791 , 93px 819px #389791 , 1956px 350px #389791 , 1482px 1343px #389791 , 1145px 1688px #389791 , 361px 727px #389791 , 121px 871px #389791 , 1519px 1360px #389791 , 509px 1866px #389791 , 508px 1711px #389791 , 1101px 1630px #389791 , 1070px 1433px #389791 , 1488px 858px #389791 , 523px 1886px #389791 , 635px 200px #389791 , 1399px 613px #389791 , 1441px 942px #389791 , 1381px 243px #389791 , 1381px 1141px #389791 , 1827px 1368px #389791 , 521px 858px #389791 , 1787px 720px #389791 , 1983px 463px #389791 , 1129px 978px #389791 , 1436px 897px #389791 , 4px 1750px #389791 , 1739px 662px #389791 , 326px 571px #389791 , 1578px 1589px #389791 , 888px 1298px #389791 , 693px 873px #389791 , 833px 1066px #389791 , 136px 893px #389791 , 711px 241px #389791 , 41px 453px #389791 , 128px 281px #389791 , 82px 727px #389791 , 1629px 1090px #389791 , 1995px 446px #389791 , 1461px 1145px #389791 , 328px 1226px #389791 , 514px 1101px #389791 , 1218px 994px #389791 , 1317px 1716px #389791 , 484px 1982px #389791 , 335px 1242px #389791 , 559px 897px #389791 , 775px 755px #389791 , 1081px 1253px #FFF , 1666px 1327px #FFF , 569px 1335px #41588b , 883px 486px #41588b , 1629px 853px #41588b , 765px 1663px #41588b , 667px 792px #41588b , 606px 809px #41588b , 157px 350px #41588b , 1742px 518px #41588b , 918px 323px #41588b , 11px 1654px #41588b , 1101px 1845px #41588b , 1336px 551px #41588b , 1776px 1988px #41588b , 1993px 1929px #41588b , 612px 1008px #41588b , 1654px 1078px #41588b , 1946px 160px #41588b , 387px 681px #41588b , 176px 293px #41588b , 1934px 285px #41588b , 1032px 974px #41588b , 985px 1089px #41588b , 1840px 1783px #41588b , 1180px 356px #41588b , 596px 503px #41588b , 571px 409px #41588b , 1454px 49px #41588b , 1667px 1643px #41588b , 844px 278px #41588b , 919px 1026px #41588b , 1916px 1086px #41588b , 1855px 1212px #41588b , 741px 880px #41588b , 66px 148px #41588b , 357px 1714px #41588b , 559px 1534px #41588b , 761px 1662px #41588b , 883px 1059px #41588b , 1418px 60px #41588b , 1091px 302px #41588b , 1538px 663px #41588b , 1688px 949px #41588b , 993px 1482px #41588b , 1516px 1976px #41588b , 620px 1095px #41588b , 577px 1711px #41588b , 301px 110px #41588b , 940px 401px #41588b , 18px 269px #41588b , 1241px 1638px #41588b , 36px 1726px #41588b , 444px 509px #41588b , 1846px 886px #41588b , 1687px 1426px #41588b , 1906px 786px #41588b , 770px 362px #41588b , 1187px 1804px #41588b , 940px 393px #41588b , 1720px 978px #41588b , 1737px 11px #41588b , 658px 1344px #41588b , 1891px 786px #41588b , 649px 1020px #41588b , 118px 216px #41588b , 1226px 1341px #41588b , 576px 594px #41588b , 1435px 1644px #41588b , 1700px 1559px #41588b , 1189px 1484px #41588b , 991px 1663px #41588b , 573px 319px #41588b , 1526px 1010px #41588b , 808px 151px #41588b , 1573px 755px #41588b , 795px 1720px #41588b , 1907px 1810px #41588b , 59px 945px #41588b , 1250px 1493px #41588b , 573px 919px #41588b , 155px 1691px #41588b , 1955px 1336px #41588b , 1588px 515px #41588b , 1175px 1219px #41588b , 1571px 1870px #41588b , 1124px 595px #41588b , 1612px 283px #41588b , 743px 1638px #41588b , 871px 932px #41588b , 677px 373px #41588b , 1974px 136px #41588b , 270px 1313px #41588b , 1659px 1632px #41588b , 1436px 37px #41588b , 1808px 1558px #41588b , 764px 668px #41588b , 1292px 578px #41588b , 935px 1738px #41588b , 348px 1617px #41588b , 1199px 829px #41588b , 1341px 64px #41588b , 254px 647px #41588b , 1699px 1593px #41588b , 272px 792px #41588b , 1627px 768px #41588b , 864px 1022px #41588b , 998px 155px #41588b , 1378px 222px #41588b , 1262px 1359px #41588b , 519px 1504px #41588b , 214px 1195px #41588b , 1057px 65px #41588b , 1900px 271px #41588b , 1793px 1664px #41588b , 1990px 1005px #41588b , 1630px 834px #41588b , 1378px 1493px #41588b , 1922px 1491px #41588b , 1813px 308px #41588b , 392px 1214px #41588b , 1354px 816px #41588b , 1207px 241px #41588b , 921px 1276px #41588b , 1070px 1579px #41588b , 566px 1099px #41588b , 1587px 873px #41588b , 571px 1473px #41588b , 1408px 1129px #41588b , 1305px 1451px #41588b , 1694px 826px #41588b , 698px 1512px #41588b , 799px 136px #41588b , 126px 1829px #41588b , 652px 1063px #41588b , 504px 1161px #41588b , 942px 631px #41588b , 1483px 1238px #41588b , 615px 181px #41588b , 1470px 1456px #41588b , 923px 1015px #41588b , 659px 1699px #41588b , 78px 1452px #41588b , 1082px 1243px #41588b , 265px 1744px #41588b , 1520px 1550px #41588b , 657px 585px #41588b , 1659px 1240px #41588b ,778px 1828px #41588b , 394px 1983px #41588b , 380px 1522px #41588b , 882px 1669px #41588b , 1372px 1266px #41588b , 1712px 1919px #41588b , 914px 1370px #41588b , 796px 1481px #41588b , 1471px 1535px #41588b , 1451px 1269px #41588b , 674px 1172px #41588b , 511px 1272px #41588b , 1568px 854px #41588b , 1744px 830px #41588b , 1284px 391px #41588b , 315px 1437px #41588b , 50px 409px #41588b , 600px 16px #FFF , 1473px 1321px #FFF , 5px 342px #FFF , 1661px 375px #ff6569 , 928px 1628px #ff6569 , 19px 206px #ff6569 , 248px 411px #ff6569 , 990px 259px #ff6569 , 934px 1431px #ff6569 , 472px 92px #ff6569 , 21px 860px #ff6569 , 293px 1982px #ff6569 , 864px 1753px #ff6569 , 1095px 241px #ff6569 , 1969px 118px #ff6569 , 1650px 819px #ff6569 , 1283px 1630px #ff6569 , 1px 1188px #ff6569 , 199px 754px #ff6569 , 1563px 1484px #ff6569 , 1371px 504px #ff6569 , 921px 1852px #ff6569 , 1116px 732px #ff6569 , 279px 1258px #ff6569, 1915px 1519px #389791 , 668px 1664px #389791 , 385px 687px #389791 , 1670px 1562px #389791 , 836px 162px #389791 , 948px 1747px #389791 , 54px 1007px #389791 , 39px 1336px #389791 , 973px 975px #389791 , 671px 1588px #389791 , 1383px 225px #389791 , 1872px 960px #389791 , 1444px 1257px #389791 , 1064px 453px #389791 , 633px 319px #389791 , 1301px 535px #389791 , 1765px 1783px #389791 , 1307px 521px #389791 , 1905px 1162px #389791 , 938px 209px #389791 , 1223px 1951px #389791 , 747px 890px #389791 , 1708px 1856px #389791 , 1431px 1370px #389791 , 1949px 12px #389791 , 1307px 1595px #389791 , 953px 257px #389791 , 1753px 1475px #389791 , 990px 1087px #389791 , 1555px 118px #389791 , 727px 308px #389791 , 90px 1149px #389791 , 1083px 1746px #389791 , 213px 787px #389791 , 1635px 828px #389791 , 1805px 1963px #389791 , 794px 44px #389791 , 642px 917px #389791 , 1473px 1488px #389791 , 1704px 802px #389791 , 1098px 1042px #389791 , 896px 1823px #389791 , 1945px 698px #389791 , 215px 1286px #389791 , 1355px 1561px #389791 , 74px 1409px #389791 , 1937px 692px #389791 , 1674px 1586px #389791 , 1953px 686px #389791 , 1267px 1903px #389791 , 855px 847px #389791 , 1117px 65px #389791 , 1183px 930px #389791 , 93px 819px #389791 , 1956px 350px #389791 , 1482px 1343px #389791 , 1145px 1688px #389791 , 361px 727px #389791 , 121px 871px #389791 , 1519px 1360px #389791 , 509px 1866px #389791 , 508px 1711px #389791 , 1101px 1630px #389791 , 1070px 1433px #389791 , 1488px 858px #389791 , 523px 1886px #389791 , 635px 200px #389791 , 1399px 613px #389791 , 1441px 942px #389791 , 1381px 243px #389791 , 1381px 1141px #389791 , 1827px 1368px #389791 , 521px 858px #389791 , 1787px 720px #389791 , 1983px 463px #389791 , 1129px 978px #389791 , 1436px 897px #389791 , 4px 1750px #389791 , 1739px 662px #389791 , 326px 571px #389791 , 1578px 1589px #389791 , 888px 1298px #389791 , 693px 873px #389791 , 833px 1066px #389791 , 136px 893px #389791 , 711px 241px #389791 , 41px 453px #389791 , 128px 281px #389791 , 82px 727px #389791 , 1629px 1090px #389791 , 1995px 446px #389791 , 1461px 1145px #389791 , 328px 1226px #389791 , 514px 1101px #389791 , 1218px 994px #389791 , 1317px 1716px #389791 , 484px 1982px #389791 , 335px 1242px #389791 , 559px 897px #389791 , 775px 755px #389791 , 1081px 1253px #FFF , 1666px 1327px #FFF , 569px 1335px #41588b , 883px 486px #41588b , 1629px 853px #41588b , 765px 1663px #41588b , 667px 792px #41588b , 606px 809px #41588b , 157px 350px #41588b , 1742px 518px #41588b , 918px 323px #41588b , 11px 1654px #41588b , 1101px 1845px #41588b , 1336px 551px #41588b , 1776px 1988px #41588b , 1993px 1929px #41588b , 612px 1008px #41588b , 1654px 1078px #41588b , 1946px 160px #41588b , 387px 681px #41588b , 176px 293px #41588b , 1934px 285px #41588b , 1032px 974px #41588b , 985px 1089px #41588b , 1840px 1783px #41588b , 1180px 356px #41588b , 596px 503px #41588b , 571px 409px #41588b , 1454px 49px #41588b , 1667px 1643px #41588b , 844px 278px #41588b , 919px 1026px #41588b , 1916px 1086px #41588b , 1855px 1212px #41588b , 741px 880px #41588b , 66px 148px #41588b , 357px 1714px #41588b , 559px 1534px #41588b , 761px 1662px #41588b , 883px 1059px #41588b , 1418px 60px #41588b , 1091px 302px #41588b , 1538px 663px #41588b , 1688px 949px #41588b , 993px 1482px #41588b , 1516px 1976px #41588b , 620px 1095px #41588b , 577px 1711px #41588b , 301px 110px #41588b , 940px 401px #41588b, 1915px 1519px #389791 , 668px 1664px #389791 , 385px 687px #389791 , 1670px 1562px #389791 , 836px 162px #389791 , 948px 1747px #389791 , 54px 1007px #389791 , 39px 1336px #389791 , 973px 975px #389791 , 671px 1588px #389791 , 1383px 225px #389791 , 1872px 960px #389791 , 1444px 1257px #389791 , 1064px 453px #389791 , 633px 319px #389791 , 1301px 535px #389791 , 1765px 1783px #389791 , 1307px 521px #389791 , 1905px 1162px #389791 , 938px 209px #389791 , 1223px 1951px #389791 , 747px 890px #389791 , 1708px 1856px #389791 , 1431px 1370px #389791 , 1949px 12px #389791 , 1307px 1595px #389791 , 953px 257px #389791 , 1753px 1475px #389791 , 990px 1087px #389791 , 1555px 118px #389791 , 727px 308px #389791 , 90px 1149px #389791 , 1083px 1746px #389791 , 213px 787px #389791 , 1635px 828px #389791 , 1805px 1963px #389791 , 794px 44px #389791 , 642px 917px #389791 , 1473px 1488px #389791 , 1704px 802px #389791 , 1098px 1042px #389791 , 896px 1823px #389791 , 1945px 698px #389791 , 215px 1286px #389791 , 1355px 1561px #389791 , 74px 1409px #389791 , 1937px 692px #389791 , 1674px 1586px #389791 , 1953px 686px #389791 , 1267px 1903px #389791 , 855px 847px #389791 , 1117px 65px #389791 , 1183px 930px #389791 , 93px 819px #389791 , 1956px 350px #389791 , 1482px 1343px #389791 , 1145px 1688px #389791 , 361px 727px #389791 , 121px 871px #389791 , 1519px 1360px #389791 , 509px 1866px #389791 , 508px 1711px #389791 , 1101px 1630px #389791 , 1070px 1433px #389791 , 1488px 858px #389791 , 523px 1886px #389791 , 635px 200px #389791 , 1399px 613px #389791 , 1441px 942px #389791 , 1381px 243px #389791 , 1381px 1141px #389791 , 1827px 1368px #389791 , 521px 858px #389791 , 1787px 720px #389791 , 1983px 463px #389791 , 1129px 978px #389791 , 1436px 897px #389791 , 4px 1750px #389791 , 1739px 662px #389791 , 326px 571px #389791 , 1578px 1589px #389791 , 888px 1298px #389791 , 693px 873px #389791 , 833px 1066px #389791 , 136px 893px #389791 , 711px 241px #389791 , 41px 453px #389791 , 128px 281px #389791 , 82px 727px #389791 , 1629px 1090px #389791 , 1995px 446px #389791 , 1461px 1145px #389791 , 328px 1226px #389791 , 514px 1101px #389791 , 1218px 994px #389791 , 1317px 1716px #389791 , 484px 1982px #389791 , 335px 1242px #389791 , 559px 897px #389791 , 775px 755px #389791 , 1081px 1253px #FFF , 1666px 1327px #FFF , 569px 1335px #41588b , 883px 486px #41588b , 1629px 853px #41588b , 765px 1663px #41588b , 667px 792px #41588b , 606px 809px #41588b , 157px 350px #41588b , 1742px 518px #41588b , 918px 323px #41588b , 11px 1654px #41588b , 1101px 1845px #41588b , 1336px 551px #41588b , 1776px 1988px #41588b , 1993px 1929px #41588b , 612px 1008px #41588b , 1654px 1078px #41588b , 1946px 160px #41588b , 387px 681px #41588b , 176px 293px #41588b , 1934px 285px #41588b , 1032px 974px #41588b , 985px 1089px #41588b , 1840px 1783px #41588b , 1180px 356px #41588b , 596px 503px #41588b , 571px 409px #41588b , 1454px 49px #41588b , 1667px 1643px #41588b , 844px 278px #41588b , 919px 1026px #41588b , 1916px 1086px #41588b , 1855px 1212px #41588b , 741px 880px #41588b , 66px 148px #41588b , 357px 1714px #41588b , 559px 1534px #41588b , 761px 1662px #41588b , 883px 1059px #41588b , 1418px 60px #41588b , 1091px 302px #41588b , 1538px 663px #41588b , 1688px 949px #41588b , 993px 1482px #41588b , 1516px 1976px #41588b , 620px 1095px #41588b , 577px 1711px #41588b , 301px 110px #41588b , 940px 401px #41588b;
    animation:animStarX 50s linear infinite; }
  .stars2 {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 3px;
    box-shadow: 107px 1763px #6d973d , 1664px 1938px #6d973d , 483px 1565px #6d973d , 777px 1678px #6d973d , 1306px 246px #6d973d , 147px 1313px #6d973d , 1748px 368px #6d973d , 1331px 1071px #6d973d , 355px 1322px #6d973d , 1282px 661px #6d973d , 1962px 1659px #6d973d , 1366px 947px #6d973d , 1502px 1997px #6d973d , 485px 520px #6d973d , 1657px 995px #6d973d , 1485px 1249px #6d973d , 1523px 1816px #6d973d , 14px 722px #6d973d , 642px 1860px #6d973d , 806px 430px #6d973d , 766px 342px #6d973d , 212px 103px #6d973d , 1662px 764px #6d973d , 1005px 1425px #6d973d , 1967px 361px #6d973d , 1652px 206px #6d973d , 1678px 159px #6d973d , 709px 459px #6d973d , 1429px 1148px #6d973d , 609px 1900px #6d973d , 515px 1191px #6d973d , 774px 1160px #6d973d , 171px 63px #6d973d , 1303px 1225px #6d973d , 1401px 187px #6d973d , 1735px 407px #6d973d , 1910px 197px #6d973d , 488px 1045px #6d973d , 440px 783px #6d973d , 1453px 1753px #6d973d , 139px 1942px #6d973d , 1093px 1381px #6d973d , 1412px 1014px #6d973d , 763px 427px #6d973d , 385px 849px #6d973d , 924px 1184px #6d973d , 603px 1001px #6d973d , 338px 854px #6d973d , 1432px 1925px #6d973d , 662px 864px #6d973d , 1756px 499px #6d973d , 1234px 550px #6d973d , 659px 859px #6d973d , 508px 992px #6d973d , 1671px 1094px #6d973d , 1376px 332px #6d973d , 1906px 231px #6d973d , 1656px 1075px #6d973d , 1993px 224px #6d973d , 303px 1578px #6d973d , 1782px 1660px #6d973d , 971px 231px #6d973d , 967px 1219px #6d973d , 1890px 1913px #6d973d , 1033px 248px #6d973d , 1475px 446px #6d973d , 255px 1498px #6d973d , 1601px 1923px #6d973d , 636px 98px #6d973d , 114px 141px #6d973d , 1204px 1662px #6d973d , 368px 1730px #6d973d , 1676px 1162px #6d973d , 1878px 1488px #6d973d , 816px 1131px #6d973d , 738px 1776px #6d973d , 866px 1658px #6d973d , 456px 1568px #6d973d , 1647px 365px #415288 , 1268px 1458px #415288 , 775px 1468px #415288 , 1713px 326px #415288 , 962px 625px #415288 , 1622px 344px #415288 , 804px 1431px #415288 , 1071px 1313px #415288 , 861px 183px #415288 , 1839px 1437px #415288 , 1865px 772px #415288 , 449px 590px #415288 , 1106px 494px #415288 , 527px 964px #415288 , 792px 1843px #415288 , 416px 565px #415288 , 1467px 1415px #415288 , 721px 736px #415288 , 319px 13px #415288 , 1304px 807px #415288 , 147px 1315px #415288 , 1248px 257px #415288 , 209px 1919px #415288 , 504px 318px #415288 , 311px 1481px #415288 , 493px 230px #415288 , 826px 311px #415288 , 1487px 928px #415288 , 1598px 1002px #415288 , 1897px 213px #415288 , 277px 1523px #415288 , 1820px 1103px #415288 , 824px 1451px #415288 , 765px 1478px #415288 , 1888px 1739px #415288 , 1026px 1829px #415288 , 596px 490px #415288 , 1279px 1281px #415288 , 1866px 24px #415288 , 1898px 1327px #415288 , 362px 1086px #415288 , 458px 189px #415288 , 10px 913px #415288 , 481px 1575px #415288 , 32px 972px #415288 , 709px 1138px #415288 , 716px 390px #415288 , 336px 1373px #415288 , 1313px 271px #415288 , 276px 1753px #415288 , 941px 1895px #415288;
    animation: animStarY 100s ease-in infinite; }
  .stars3 {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 3px;
    box-shadow: 1074px 1789px var(--color-bgContainer) , 1873px 1501px var(--color-bgContainer) , 164px 207px var(--color-bgContainer) , 1193px 1795px var(--color-bgContainer) , 396px 1095px var(--color-bgContainer) , 214px 201px var(--color-bgContainer) , 934px 94px var(--color-bgContainer) , 264px 1186px var(--color-bgContainer) , 1382px 1340px var(--color-bgContainer) , 792px 666px var(--color-bgContainer) , 167px 1338px var(--color-bgContainer) , 43px 1957px var(--color-bgContainer) , 408px 1168px var(--color-bgContainer) , 828px 923px var(--color-bgContainer) , 119px 440px var(--color-bgContainer) , 1001px 445px var(--color-bgContainer) , 266px 72px var(--color-bgContainer) , 71px 1735px var(--color-bgContainer) , 1439px 403px var(--color-bgContainer) , 1576px 1311px var(--color-bgContainer) , 1028px 1771px var(--color-bgContainer) , 1945px 1444px var(--color-bgContainer) , 1864px 54px var(--color-bgContainer) , 1255px 1604px var(--color-bgContainer) , 1126px 973px var(--color-bgContainer) , 451px 1506px var(--color-bgContainer) , 1185px 628px var(--color-bgContainer) , 688px 1033px var(--color-bgContainer) , 778px 951px var(--color-bgContainer) , 266px 1328px var(--color-bgContainer) , 429px 1071px var(--color-bgContainer) , 105px 136px var(--color-bgContainer) , 1711px 1359px var(--color-bgContainer) , 746px 82px var(--color-bgContainer) , 1967px 1532px var(--color-bgContainer) , 932px 363px var(--color-bgContainer) , 1235px 699px var(--color-bgContainer) , 1479px 404px var(--color-bgContainer) , 1501px 1725px var(--color-bgContainer) , 735px 217px var(--color-bgContainer) , 1841px 883px var(--color-bgContainer) , 1024px 12px var(--color-bgContainer) , 197px 358px var(--color-bgContainer) , 1482px 1120px var(--color-bgContainer) , 302px 388px var(--color-bgContainer) , 1909px 1324px var(--color-bgContainer) , 943px 237px var(--color-bgContainer) , 539px 1692px var(--color-bgContainer) , 1858px 395px var(--color-bgContainer) , 501px 841px var(--color-bgContainer) , 388px 408px var(--color-bgContainer) , 600px 1932px var(--color-bgContainer) , 1119px 1225px var(--color-bgContainer) , 349px 1116px var(--color-bgContainer) , 58px 330px var(--color-bgContainer) , 399px 234px var(--color-bgContainer) , 1188px 1238px var(--color-bgContainer) , 385px 444px #ff6569 , 131px 1809px var(--color-primary-opacity) , 214px 224px var(--color-primary-opacity) , 1010px 1854px var(--color-primary-opacity) , 1758px 479px var(--color-primary-opacity) , 532px 800px var(--color-primary-opacity) , 1303px 1906px var(--color-primary-opacity) , 1916px 1007px var(--color-primary-opacity) , 1601px 640px var(--color-primary-opacity) , 1360px 1758px var(--color-primary-opacity) , 1487px 743px var(--color-primary-opacity) , 64px 1416px var(--color-primary-opacity) , 1830px 58px var(--color-primary-opacity) , 366px 482px var(--color-primary-opacity) , 284px 1240px var(--color-primary-opacity) , 1608px 420px var(--color-primary-opacity) , 583px 859px var(--color-primary-opacity) , 814px 1357px var(--color-primary-opacity) , 110px 489px var(--color-primary-opacity) , 787px 107px var(--color-primary-opacity) , 563px 168px var(--color-primary-opacity) , 410px 45px var(--color-primary-opacity) , 862px 593px var(--color-primary-opacity) , 1399px 1018px var(--color-primary-opacity) , 173px 1402px var(--color-primary-opacity) , 1487px 164px var(--color-primary-opacity) , 1625px 586px var(--color-primary-opacity) , 836px 199px var(--color-primary-opacity) , 1px 1529px var(--color-primary-opacity) , 123px 287px var(--color-primary-opacity) , 270px 1168px var(--color-primary-opacity) , 798px 1338px var(--color-primary-opacity) , 767px 527px var(--color-primary-opacity) , 313px 438px var(--color-primary-opacity) , 1371px 1231px var(--color-primary-opacity) , 467px 1342px var(--color-primary-opacity) , 134px 707px var(--color-primary-opacity) , 1724px 442px var(--color-primary-opacity) , 1799px 1152px var(--color-primary-opacity) , 1537px 1259px var(--color-primary-opacity) , 1428px 494px var(--color-primary-opacity) , 396px 1067px var(--color-primary-opacity) , 561px 1376px var(--color-primary-opacity) ;
    animation: animStarY 150s ease-out infinite; }
    /* .stars3:after {
      content: " ";
      position: absolute;
      top: 300vh;
      width: 3px;
      height: 3px;
      background: transparent;
    box-shadow: 1074px 1789px #FA99AE , 1873px 1501px #FA99AE , 164px 207px #FA99AE , 1193px 1795px #FA99AE , 396px 1095px #FA99AE , 214px 201px #FA99AE , 934px 94px #FA99AE , 264px 1186px #FA99AE , 1382px 1340px #FA99AE , 792px 666px #FA99AE , 167px 1338px #FA99AE , 43px 1957px #FA99AE , 408px 1168px #FA99AE , 828px 923px #FA99AE , 119px 440px #FA99AE , 1001px 445px #FA99AE , 266px 72px #FA99AE , 71px 1735px #FA99AE , 1439px 403px #FA99AE , 1576px 1311px #FA99AE , 1028px 1771px #FA99AE , 1945px 1444px #FA99AE , 1864px 54px #FA99AE , 1255px 1604px #FA99AE , 1126px 973px #FA99AE , 451px 1506px #FA99AE , 1185px 628px #FA99AE , 688px 1033px #FA99AE , 778px 951px #FA99AE , 266px 1328px #FA99AE , 429px 1071px #FA99AE , 105px 136px #FA99AE , 1711px 1359px #FA99AE , 746px 82px #FA99AE , 1967px 1532px #FA99AE , 932px 363px #FA99AE , 1235px 699px #FA99AE , 1479px 404px #FA99AE , 1501px 1725px #FA99AE , 735px 217px #FA99AE , 1841px 883px #FA99AE , 1024px 12px #FA99AE , 197px 358px #FA99AE , 1482px 1120px #FA99AE , 302px 388px #FA99AE , 1909px 1324px #FA99AE , 943px 237px #FA99AE , 539px 1692px #FA99AE , 1858px 395px #FA99AE , 501px 841px #FA99AE , 388px 408px #FA99AE , 600px 1932px #FA99AE , 1119px 1225px #FA99AE , 349px 1116px #FA99AE , 58px 330px #FA99AE , 399px 234px #FA99AE , 1188px 1238px #FA99AE , 385px 444px #FA99AE , 131px 1809px #FA99AE , 214px 224px #FA99AE , 1010px 1854px #FA99AE , 1758px 479px #FA99AE , 532px 800px #FA99AE , 1303px 1906px #FA99AE , 1916px 1007px #FA99AE , 1601px 640px #FA99AE , 1360px 1758px #FA99AE , 1487px 743px #FA99AE , 64px 1416px #FA99AE , 1830px 58px #FA99AE , 366px 482px #FA99AE , 284px 1240px #FA99AE , 1608px 420px #FA99AE , 583px 859px #FA99AE , 814px 1357px #FA99AE , 110px 489px #FA99AE , 787px 107px #FA99AE , 563px 168px #FA99AE , 410px 45px #FA99AE , 862px 593px #FA99AE , 1399px 1018px #FA99AE , 173px 1402px #FA99AE , 1487px 164px #FA99AE , 1625px 586px #FA99AE , 836px 199px #FA99AE , 1px 1529px #FA99AE , 123px 287px #FA99AE , 270px 1168px #FA99AE , 798px 1338px #FA99AE , 767px 527px #FA99AE , 313px 438px #FA99AE , 1371px 1231px #FA99AE , 467px 1342px #FA99AE , 134px 707px #FA99AE , 1724px 442px #FA99AE , 1799px 1152px #FA99AE , 1537px 1259px #FA99AE , 1428px 494px #FA99AE , 396px 1067px #FA99AE , 561px 1376px #FA99AE;} */

@keyframes animStarX {
    0% {
        transform: translateX(-250px); }
    100% {
        transform: translateX(0px); }
}

@keyframes animStarY {
    0% {
        transform: translateX(-250px) translateY(0px); }
    100% {
        transform: translateX(0px) translateY(-1000px); }
}

.heroContent__General__info {
    display: flex;
    align-items: center;
    padding: 0 22px;
}

/* .heroContent__General__info::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 20px;
    background: var(--color-gradient-90º);
    filter: blur(20px);
    opacity: 0;
} */

.heroContent__General__info--one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.herosubtitle {
    position: relative;
    font-family: var(--ff-title);
    font-size: 20px;
    padding: 0;
    padding-top: 25px;
    font-weight: 500;
    font-style: italic;
}

.herosubtitle::before {
    position: absolute;
    content: " ";
    top: 120%;
    left: 15%;
    width: 70%;
    height: 1px;
    border-radius: 8px;
    background: var(--color-gradient-90º);
}

.hero__paragraph {
    margin: 0px;
    padding: 0px;
}

.herobutton__link {
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: var(--ff-paragraph);
    color: var(--color-primary-paragraph);
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: var(--color-bgsections);
    text-align: center;
    padding: 10px 16px;
    max-width: max-content;
}

.herobutton__link::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background:  var(--color-gradient-90º);
    border-radius: 8px;
}

.herobutton__link::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-gradient-90º);
    transform: translate3d(5px, 5px, 0) scale(0.90);
    filter: blur(30px);
    opacity: 0.30;
    transition: opacity 0.3s;
    border-radius: inherit;
}

.hero__socialmedia {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0;
}

/* .blob {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.blob__img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    object-fit: fill;
} */

.hero__socialmedia--logo {
    width: 40px;
    height: 40px;
    padding: 5px;
    background: var(--color-gradient-0º);
    border-radius: 8px;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.hero__source {
    display: none;
}

/*PORTFOLIO*/

.portContainer {
    padding: 75px 16px;
}

.portContainer__items {
    display: grid;
    gap: 50px;
}

.porfolioContainerSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.portContainer__item {
    display: grid;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.portContainer__item__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.portContainer__item__link {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--ff-paragraph);
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary-opacity);
    text-align: center;
    padding-bottom: 10px;
    width: max-content;
}

/* .portContainer__item__link {
    text-decoration: none;
    font-family: var(--ff-paragraph);
    color: var(--color-primary);
    border: 2px solid var(--color-primary-opacity);
    background-color: var(--color-bgsections);
    box-shadow: 0 0 50px 10px var(--color-primary-opacity2);
    text-align: center;
    border-radius: 30px;
    padding: 10px 0px;
    max-width: 170px;
} */

.portContainer__item__arrow {
    width: 15px;
    height: auto;
    animation: arrow-right 2s forwards infinite;
}

.portContainer__more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-title);
    gap: 20px;
    margin: 0 auto;
    color: var(--color-primary-button);
    font-size: 16px;
    background-color:  var(--color-primary);
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}

.portContainer__item--img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.portContainer__item__lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.portContainer__item__img {
    position: relative;
    width: 50px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-bgsections), 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.portContainer__item__img::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 10%);
}

/* .portContainer__more__img {
    width: 25px;
    rotate: 45deg;
    animation: close 2s linear infinite ;
}

@keyframes close {
    0%,100% {
        transform: rotate3d(0deg);
    }
    50% {
        transform:rotate3d(0, 1, 0, 3.5rad) ;
    }
}

.portContainer__item--third {
    display: none;
}

.portContainer__item--third.active {
    display: grid;
} */

/* @keyframes arrow-right {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
} */

/*HABILIDADES */

.habContainer {
    padding: 75px 16px;
}

.habContainer__general {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    background-color: hsl(247.89deg 37.25% 20%);
    border-radius: 8px;
}

.habContainer__filter {
    color: var(--color-primary-paragraph);
    text-align: center;
    margin: 0;
}

.habContainer__buttonsFilter {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding: 16px 0;
    border-bottom: 1px solid var(--bg-color);
    /* background-color: #0f3446;
    box-shadow:inset 0px 2px 20px 5px #ffffff17;
    border-radius: 12px; */
}

.habContainer__buttonsFilter__title, .inputs {
    display: none;
}

.habContainer__buttonsFilters__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--ff-paragraph);
    color: var(--color-primary-paragraph);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.label__skills {
    cursor: pointer;
}

.habContainer__buttonsFilters__link__img {
    width: 25px;
    height: 25px;
}

.All.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.lenguages.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.tools.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.habContainer__skills {
    /* background-color: #0f3446;
    border-radius:12px;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    padding: 16px;
}

.habContainer__lenguajes, .habContainer__utility, .habContainer__all {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

.habContainer__all.innactive {
    display: none;
}

.habContainer__lenguajes {
    display: none;
}

.habContainer__lenguajes.active {
    display: grid;
    padding-bottom: calc(437.7px - 297.42px);
}

.habContainer__utility {
    display: none;
}

.habContainer__utility.active {
    display: grid;
    padding-bottom: calc(437.7px - 226.42px);
}

.habContainer__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-bgsections), 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.habContainer__item::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 10%);
}

.habContiner__img {
    width: 35px;
    height: auto;
}

.habContiner__img--title {
    display: block;
    /* font-weight: 200; */
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    color: var(--color-primary-paragraph);
    text-transform: uppercase;
}

/*CONTACTO*/

.formContainer {
    padding: 75px 16px;
}

.formContainer__form {
    padding: 16px;
    border-radius: 8px;
    /* background-color: #0f3446;
    border-radius: 12px;
    box-shadow:inset 0px 2px 20px 5px #ffffff17; */
    background-color: var(--color-bgsections);
}

.formContainer__Container__img {
    display: none;
    background-color: var(--color-bgsections);
}

.formContainer__forminput {
    border: none;
    border-bottom: 1px solid var(--color-primary-paragraph);
    color: var(--color-primary-paragraph);
    background-color: transparent;
    padding: 11px;
    width: 100%;
    margin: 11px 0;
    font-family: var(--ff-paragraph);
}

.formContainer__textarea {
    font-size: var(--fs-paragraph);
}

.formContainer__submit {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    width: 200px;
    text-align: center;
}

.formContainer__submit--link {
    font-weight: 600;
    padding-left: 15px;
    font-family: var(--ff-title);
    color:  var(--color-primary-button);
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

/*FOOTER*/

.footer {
    background-color: var(--color-primary);
    color: var(--color-primary-button);
    padding-top: 75px;
    font-family: var(--ff-paragraph);
    font-size: 12px;
    width: 100%;
    padding: 0px 25px;
}

.footer.active {
    display: none;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.footerContainer__links {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footerContainer__link {
    color: var(--color-primary-button);
    font-size: 12px;
    font-weight: 400;
}

@media only screen and (min-width: 768px){

    h1 {
        font-size: var(--fs-title-d);
    }

    h2 {
        font-size: var(--fs-title2-d);
    }

    h3 {
        font-size: var(--fs-title3-d);
    }

    h4 {
        font-size: var(--fs-title4-d);
    }

    p {
        font-size: var(--fs-paragraph-d);
    }

    a {
        font-size: var(--fs-links-d);
    }

    span {
        font-size: var(--fs-paragraph-d);
    }

    .header {
        padding: 20px 32px;
    }

    .nav__title__city {
        font-size: 10px;
    }

    .navList__movile {
        top: 80px;
    }

    .navList__menu__link {
        font-size: var(--fs-paragraph-d);
    }

    .navList__menu__footer__darkmode {
        width: 250px;
    }

    .navList__menu__footer__darkmode__paragraph {
        font-size: 18px;
    }

    .navList__menu__footer__darkmode__img {
        width: 25px;
    }

    .navBurguermenu__img__hamburguer, .navBurguermenu__img__close {
        padding: 0;
        width: 35px;
        height: auto;
    }

    .socialmedias {
        display: none;
    }

    .heroContent__General__info {
        padding: 0 45px;
    }

    .herosubtitle::before {
        left: 30%;
        width: 40%;
    }

    .hero__paragraph {
        max-width: 80%;
        margin: 0 auto;
    }

    .herobutton__link {
        padding: 15px 10px;
        max-width: 250px;
    }

    .hero__socialmedia {
        gap: 50px;
    }

    .hero__socialmedia--logo {
        width: 35px;
        height: auto;
    }

    /*PORTFOLIO*/

    .portContainer {
        padding: 100px 32px;
    }

    .portContainer__item__image {
        grid-area: a;
    }

    .portContainer__item__information {
        grid-area: b;
    }

    .portContainer__item--first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        gap: 50px;
    }

    .portContainer__item--second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "b a";
        gap: 50px;
    }


    .portContainer__item--third.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        gap: 50px;
    }

    /* .portContainer__item--img {
       height: auto;
    }

    .portContainer__item__image {
        grid-area: a;
    } */

    /* .portContainer__item__information {
        grid-area: b;
        gap: 15px;
        justify-content: start;
    }

    .portContainer__item__lenguajes {
        padding-top: 9px;
        display: flex;
        gap: 25px;
    }

    .portContainer__item__img {
        width: 35px;
        height: auto;
    }

    .portContainer__item__link {
        margin: 0;
    }

    .portContainer__more {
        padding: 10px;
    } */

    /*HABILIDADES */

    .habContainer {
        padding: 100px 32px;
    }

    .habContainer__buttonsFilter {
        gap: 100px;
    }

    .habContainer__skills {
        padding: 32px;
        padding-bottom: 32px;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        grid-template-columns: auto auto;
        gap: 35px;
    }

    .habContainer__lenguajes.active {
        padding-bottom: calc(678.83px - 471.3px);
    }
    
    .habContainer__utility.active {
        padding-bottom: calc(678.83px - 366.3px);
    }

    .habContainer__item {
        gap: 35px;
    }

    .habContiner__img {
        width: 50px;
    }

    .habContiner__img--title {
        font-size: var(--fs-paragraph-d);
    }

    .habCont__b__l_text {
        font-size: var(--fs-paragraph-d);
    }

    /*CONTACTO*/

    .formContainer {
        padding: 100px 32px;
    }

    .formContainer__form {
        padding: 0 40px;
        padding-bottom: 40px;
    }

    .formContainer__forminput {
        padding: 30px;
    }

    .formContainer__submit {
        margin-top: 40px;
        padding: 10px;
        width: 250px;
    }

    /*FOOTER*/

    .footer {
        padding: 0px 32px;
    }

    .footerContainer {
        padding: 25px 0;
    }

    .footerContainer__text {
        font-size: 14px;
    }

    .footerContainer__links {
        gap: 35px;
    }

    .footerContainer__link {
        color: var(--color-primary-button);
        font-size: 14px;
    }

}

@media only screen and (min-width: 1024px){

    h1 {
        font-size: var(--fs-title-p);
        padding-bottom: 50px;
    }

    h2 {
        font-size: var(--fs-title2-p);
        margin-bottom: 50px;
        padding: 0;
    }

    h2::after {
        background-image: var(--color-gradient-90º);
        top: 50%;
        left: 50%;
        width: 50%;
        height: 2px;
    }

    h3 {
        font-size: var(--fs-title3-p);
    }

    h4 {
        font-size: var(--fs-title4-p);
    }

    p {
        font-size: var(--fs-paragraph-p);
    }

    a {
        font-size: var(--fs-links-p);
    }

    span {
        font-size: var(--fs-paragraph-p);
    }

    .header {
        padding: 25px 80px;
    }

    .nav__title__simbol {
        font-size: 16px;
    }

    .navList {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-weight: bold;
        padding: 0;
        margin: 0;
        gap: 30px;
        list-style: none;
        text-align: center;
    }

    .navBurguermenu__img__hamburguer {
        display: none;
    }

    .navList__link {
        font-weight: 400;
        font-family: var(--ff-paragraph);
        font-size: var(--fs-links);
        text-decoration: none;
        color: var(--color-primary-paragraph);
    }

    .navList__cv {
        color: var(--color-primary);
        border: 2px solid var(--color-primary-opacity);
        background-color: var(--color-bgsections);
        text-align: center;
        border-radius: 30px;
        padding:  5px 15px;
    }

    .darkMode__img {
        display: block;
        width: 25px;
        height: auto;
    }

    .navList__movile {
        display: none;
    }

    .heroContent__General {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .socialmedias {
        position: absolute;
        display: flex;
        align-self: flex-end;
        left: 45%;
        margin-bottom: 50px;
    }

    .socialmedia__pc {
        /* position: relative; */
        display: flex;
        gap: 30px;
    }

    .socialmedia__pc::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 120%;
        width: 100%;
        height: 2px;
        background: var(--color-primary);
        border-radius: 30px;
    }

    .socialmedia__pc::after {
        position: absolute;
        content: "";
        top: 50%;
        left: -120%;
        width: 100%;
        height: 2px;
        background: var(--color-primary);
        border-radius: 30px;
    }

    .socialmedia--logo {
        width: 30px;
        height: 30px;
        padding: 4px;
        background: var(--color-gradient-0º);
        border-radius: 8px;
        box-shadow: 0 0 0 1px #000, 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
    }

    .heroContent__General__info {
        display: grid;
        grid-template-columns: 5.5fr 4.5fr;
        padding: 0;
        padding:0 80px;
        /* padding-left: 125px; */
    }

    .heroContent__General__info--one {
        gap: 30px;
        padding-top: 90px;
    }

    .heroTitle {
        padding: 0;
    }

    .herosubtitle::before {
        left: 0;
        width: 30%;
    }

    .hero__paragraph {
        max-width: none;
    }

    .herobutton__link {
        margin: 0;
        padding: 10px 40px;
        max-width: max-content;
    }

    .hero__socialmedia {
        display: none;
    }

    .hero__source {
        display: block;
    }

    /*PORTFOLIO*/

    .portContainer {
        padding: 100px 80px;
    }

    .portContainer__items {
        gap: 100px;
    }

    .porfolioContainerSection {
        gap: 100px;
    }

    .portContainer__item--img {
        max-height: 450px;
    }

    .portContainer__item__img {
        width: 40px;
    }

    .portContainer__more {
        padding: 10px;
    }
/*
    .portContainer__items {
        gap: 175px;
    }

    .portContainer__item {
        grid-template-columns: auto auto;
    }

    .portContainer__item__lenguajes {
        gap: 30px;
    }

    .portContainer__item__image {
        max-width: 500px;
    }

    .portContainer__item--img {
        height: auto;
        width: auto;
    }

    .portContainer__item__information {
        justify-content: start;
        padding-top: 50px;
    }

    .portContainer__recommend{
        text-align: left;
    } */

    /*HABILIDADES*/

    .habContainer {
        padding: 100px 80px;
    }

    .habContainer__information {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .habContainer__paragraph {
        font-size: 20px;
    }

    .habContainer__container {
        display: grid;
        grid-template-columns: 2fr 8fr;
    }

    .habContainer__buttonsFilter {
        flex-direction: column;
        justify-content: start;
        padding: 45px 0;
        gap: 25px;
        border: none;
        border-right: 1px solid var(--bg-color);
    }

    .habContainer__buttonsFilter__title {
        color: var(--color-primary-paragraph);
        font-family: var(--ff-paragraph);
        font-size: 20px;
        text-align: left;
    }

    .habContainer__buttonsFilters__link {
        width: 100%;
        border-bottom: 1px solid var(--bg-color);
        padding: 10px;
        margin: 0;
        font-size: 20px;
    }

    .habContainer__lenguajes, .habContainer__utility, .habContainer__all {
        grid-template-columns: auto auto auto;
        gap: 50px;
    }

    .habContainer__lenguajes.active {
        padding-bottom: calc(535.97px - 412.31px);
    }
    
    .habContainer__utility.active {
        padding-bottom: calc(535.97px - 287.31px);
    }

    .habContainer__item {
        gap: 25px;
    } 

    .habContiner__img {
        width: 55px;
        height: auto;
    }

    /*FORMULARIO*/

    .formContainer {
        padding: 100px 80px;
    }

    .formContainer__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: auto;
        gap: 25px;
    }

    .formContainer__Container {
        position: relative;
        display: grid;
        grid-template-columns: 6fr 4fr;
        gap: 15px;
        height: 100%;
    }

    /* .formContainer__Container::after {
        position: absolute;
        content: "";
        top: 20%;
        transform: translateY(-50%) ;
        left: 0%;
        background-color: var(--color-primary);
        width: 90%;
        height: 5%;
        z-index: -1;
        box-shadow: 0 0 10px var(--color-primary-opacity);
        border: 2px solid var(--color-bgsections);
    }

    .formContainer__Container::before {
        position: absolute;
        content: "";
        top: 80%;
        transform: translateY(-50%) rotate(-45deg);
        left:30%;
        background-color: var(--color-primary);
        width: 20%;
        height: 5%;
        z-index: -1;
        box-shadow: 0 0 10px var(--color-primary-opacity);
        border: 2px solid var(--color-bgsections);
    } */

    .forContainer__paragraph {
        font-size: 20px;
    }

    .formContainer__Container__img {
        display: block;
        height: 100%;
        object-fit: cover;
        border: 2px solid var(--color-primary);
        border-radius: 8px;
    }

    .formContainer__form__displayflex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .formContainer__forminput {
        margin: 0;
    }

    .footer {
        padding: 0 80px;
    }

    .footerContainer__links {
        display: flex;
        align-items: center;
        gap: 25px;
    }

}

@media only screen and (min-width: 1300px){

    h1 {
        font-size: var(--fs-title-pl);
        padding-bottom: 50px;
    }

    h2 {
        font-size: var(--fs-title2-pl);
        margin-bottom: 50px;
        padding: 0;
    }

    h3 {
        font-size: var(--fs-title3-pl);
    }

    h4 {
        font-size: var(--fs-title4-pl);
    }

    p {
        font-size: var(--fs-paragraph-pl);
    }

    a {
        font-size: var(--fs-links-pl);
    }

    span {
        font-size: var(--fs-paragraph-pl);
    }

    .headerContainer {
        margin: 0 auto;
        max-width: 1300px;
    }

    .heroContent__General {
        padding: 0 80px;
    }

    /* .heroContainer {
        background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
        background: -moz-radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
        background: radial-gradient(circle farthest-corner at top right, #3E2D29 0%, #090F12 61%);
    } */

    .heroContent__General__info {
        padding: 0;
        margin: 0 auto;
        max-width: 1300px;
        grid-template-columns: 1fr 1fr;
    }

    .heroContent__General__info--one {
        gap: 50px;
    }

    .hero__paragraph {
        /* max-width: 80%; */
    }

    .portContent, .habContent, .formContent, .footerContainer{
        margin: 0 auto;
        max-width: 1300px;
    }

    .porfolioContainerSection {
        gap: 150px;
    }

    .portContainer__item--third.active {
        gap: 100px;
    }

    .portContainer__item {
        gap: 100px;
    }


    .portContainer__item--img {
        max-height: 450px;
    }

    .footer {
        padding: 25px;
    }

    /* pc */

    .header {
        padding: 25px 60px;
    }

    .navList__link {
        font-size: 15px;
    }

    .darkMode__img {
        display: block;
        width: 30px;
        height: auto;
    }

    .heroContent__General__info--one {
        gap: 50px;
    }

    /*PORTFOLIO*/

    .porfolioContainerSection {
        gap: 200px;
    }

    /*HABILIDADES*/

    .label__skills {
        font-size: var(--fs-paragraph-pl);
    }

    /*FORMULARIO*/

    /* FOOTER */

 }